html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 100%;
  position: static;
}

body {
  background-image: url("../images/biblioteca-fondo.png");
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  line-height: 20px;
  position: relative;
  background-size: cover;
}
.main {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 0 20px 20px 20px;
}

.main {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  background-image: url("../images/logo.png");
  background-size: 227px 88px;
  margin: 0;
  margin-left: -20px;
  height: 90px;
  background-repeat: no-repeat;
}

#warning {
  width: 100%;
}
.margin15 {
  margin-bottom: 15px;
}
#warning img {
  width: 50px;
}
form li {
  list-style: none;
  margin-bottom: 25px;
  width: 100%;
  background: none;
}

input.usuario,
input.password {
  box-shadow: none;
  border-radius: 0;
  height: 40px;
  border: none;
  padding: 4px 8px;
  border-bottom: 1px solid #c4c4c4;
  box-sizing: border-box;
  background: none;
  font: inherit;
  font-size: 14px;
  line-height: 1.4285714286;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  color: #3c515a;
  font-family: "Roboto", sans-serif;
}
input.usuario:focus,
input.password:focus {
  border-bottom: 1px solid #969494;
  outline: 0;
}
.btn-login {
  background-color: #a3223a;
  padding: 10px;
  width: 100% !important;
  border: none;
  color: #ffffff;
  display: block;
  font-family: "Roboto", sans-serif;
}
.btn-login:hover {
  background-color: #be1b38;
}
.copy-right {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.copy-right p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 12px;
}

@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}
@media (min-width: 580px) {
  .main {
    width: 340px;
  }
}
