/**{padding: 0; margin: 0 auto;};*/
/**
 * Main CSS
 *
 * BASE - Tools, Typography
 * COMPONENTS - Forms
 * PAGES - Common, Home
 * RESPONSIVE
 *
 * @package Wolf
 * @author  Daniel Castro <sydewk@gmail.com>
 * @since   1.0.0
 */

/**
 * BASE
 * -----------------------------------------------------------------------------
 */
/* Tools */
.block{display:block;}
.hide{display:none;}
.inline{display:inline;}
.inline-block{display:inline-block;}

.clearfix:before, .clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
.pull-l{float:left;}
.pull-r{float:right;}

.relative{position:relative;}
.absolute{position:absolute;}
.fixed{position:fixed;}
.center{margin:0 auto;}
.full-width{width:100%;}
.img-responsive{display:block;max-width:100%;height:auto;}
.img-rounded{border-radius:6px;}
.img-circle{border-radius:50%;}

.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.bold{ font-weight: bold; }

.nav-h{clear:both;margin:0;padding:0;display:inline-block;}
.nav-h li{list-style:none;float:left;}
.no-border{border:none!important;}
.pointer{cursor:pointer;}
.btn{cursor:pointer;display:inline-block;}

/* Typography */

@font-face {
    font-family: 'tradegothicroman';
    src: url('../fonts/TradeGothic/tradegothic-webfont.eot');
    src: url('../fonts/TradeGothic/tradegothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TradeGothic/tradegothic-webfont.woff') format('woff'),
         url('../fonts/TradeGothic/tradegothic-webfont.ttf') format('truetype'),
         url('../fonts/TradeGothic/tradegothic-webfont.svg#tradegothicroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trade_gothic_lt_stdBdCnno20';
    src: url('../fonts/TradeGothicBold/tradegothicltstd-bdcn20-webfont-webfont.eot');
    src: url('../fonts/TradeGothicBold/tradegothicltstd-bdcn20-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TradeGothicBold/tradegothicltstd-bdcn20-webfont-webfont.woff') format('woff'),
         url('../fonts/TradeGothicBold/tradegothicltstd-bdcn20-webfont-webfont.ttf') format('truetype'),
         url('../fonts/TradeGothicBold/tradegothicltstd-bdcn20-webfont-webfont.svg#trade_gothic_lt_stdBdCnno20') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'trade_gothic_lt_stdCnno.18';
    src: url('../fonts/TradeGothicLt18/tradegothicltstd-cn18-webfont-webfont.eot');
    src: url('../fonts/TradeGothicLt18/tradegothicltstd-cn18-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TradeGothicLt18/tradegothicltstd-cn18-webfont-webfont.woff') format('woff'),
         url('../fonts/TradeGothicLt18/tradegothicltstd-cn18-webfont-webfont.ttf') format('truetype'),
         url('../fonts/TradeGothicLt18/tradegothicltstd-cn18-webfont-webfont.svg#trade_gothic_lt_stdCnno.18') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*@font-face {
 font-family: TradeGothicBold;
 src: url("../fonts/tradegothicltstd-bdcn20-webfont.eot") /* EOT file for IE */
/*}
@font-face {
 font-family: TradeGothicBold;
 src: url("../fonts/tradegothicltstd-bdcn20-webfont.ttf") /* TTF file for CSS3 browsers */
/*}

@font-face {
 font-family: TradeGothic;
 src: url("http://cesa.edu.co/images/FE_Formularios/fonts/TradeGothic.eot") /* EOT file for IE */
/*}
@font-face {
 font-family: TradeGothic;
 src: url("http://cesa.edu.co/images/FE_Formularios/fonts/TradeGothic.ttf") /* TTF file for CSS3 browsers */
/*}

@font-face {
 font-family: 'trade_gothic_lt_stdBdCnno20';
 src: url("http://cesa.edu.co/images/FE_Formularios/fonts/tradegothicltstd-bdcn20-webfont.eot") /* EOT file for IE */
/*}
@font-face {
 font-family: 'trade_gothic_lt_stdBdCnno20';
 src: url("http://cesa.edu.co/images/FE_Formularios/fonts/tradegothicltstd-bdcn20-webfont.ttf") /* TTF file for CSS3 browsers */
/*}

@font-face {
 font-family:TradeGothicLt18;
 src: url("../fonts/tradegothicltstd-cn18-webfont.eot");
/*}

@font-face {
 font-family:TradeGothicLt18;
 src: url("../fonts/tradegothicltstd-cn18-webfont.ttf");
/*}*/

.page, .page-tab, .footer, .ui-widget {font-family:Helvetica; font-size: 14px; color: #000; }
.input-text{ font-family:Helvetica; font-size: 14px; color: #000; background: url(../img/campo_txt.png) no-repeat; background-size: 100% 100%; border: none;}
.ui-widget { font-size: 2.5em; }
h1{ font-size:30px; margin-bottom: 12px; }
h6{ font-size: 11px; font-weight: bold; }
/*p{ text-align:justify; }*/
a{ text-decoration: none; color: #000;}
.subtitle { font-size: 12px; font-weight: normal; font-style: italic; vertical-align: baseline; color: #000; text-transform: none; }

/**
 * PAGES
 * -----------------------------------------------------------------------------
 */
/* Common */

body, html {
  color:#000;
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  font-family:Helvetica;
}

#newHome{
  background: url(../img/TexturaBK.png) repeat;
  /*background:#D0D0D0;*/
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.modulo{
  width: 100%;
  display: block;
  margin:0;
}

.contenedor{
  width: 990px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.redes_sociales{
  width: 30px;
  position: fixed;
  right: 5px;
  top: 50%;
  margin: -87px 0 0 0;
  z-index: 1000000000000000;
}

.popupRedes{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  background-image: url(../img/bk_Negro.png)\0/;
  z-index: 10000000000;
  display: none;
}

.contentWidget{
  position: fixed;
  right: 0;
  top: 50%;
  background:url(../img/TexturaBK.png) repeat;
  display: none;
  padding: 10px 85px 6px 11px;
}

.contentWidget .cerrarRed{
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  right: 64px;
  cursor: pointer;
}

#wid_fb{
  margin-top: -168.5px;
}

#wid_tw, #wid_ytube{
  margin-top: -170px;
}

#wid_lkIn{
  margin-top: -105px;
}

#wid_ggplus{
  margin-top: -231.5px;
}



.face-ico a {
    width:  30px;
    height: 30px;
    display: block;
    background-image: url(../img/Facebook.jpg);
	margin-bottom: 5px;
}

.face-ico a:hover {
   background-image: url(../img/Facebook_roll.jpg);
   margin-bottom: 5px;
}


.tweter-ico a {
    width:  30px;
    height: 30px;
    display: block;
    background-image: url(../img/Twitter.jpg);
	margin-bottom: 5px;
}

.tweter-ico a:hover {
   background-image: url(../img/Twitter_roll.jpg);
   margin-bottom: 5px;
}

.linkedin-ico a {
    width:  30px;
    height: 30px;
    display: block;
    background-image: url(../img/Linkedin.jpg);
	margin-bottom: 5px;
}

.linkedin-ico a:hover {
   background-image: url(../img/Linkedin_roll.jpg);
   margin-bottom: 5px;
}


.Plus-ico a {
    width:  30px;
    height: 30px;
    display: block;
    background-image: url(../img/Plus.jpg);
	margin-bottom: 5px;
}

.Plus-ico a:hover {
   background-image: url(../img/Plus_roll.jpg);
   margin-bottom: 5px;
}


.youtube-ico a {
    width:  30px;
    height: 30px;
    display: block;
    background-image: url(../img/YouTube.jpg);
	margin-bottom: 5px;
}

.youtube-ico a:hover {
   background-image: url(../img/YouTube_roll.jpg);
   margin-bottom: 5px;
}



.redes_sociales img{ display: block; margin-bottom: 5px;}

#header_gen{
  background: rgba(0,0,0,0.9);
  background-image: url(../img/bk_Negro.png)\0/;
  height: 128px;
  padding: 10px 0;
  }

#header_gen_int{
  background: rgba(0,0,0,0.9);
  background-image: url(../img/bk_Negro.png)\0/;
  height: 128px;
  padding: 10px 0;
  top: 0;
  z-index: 1000;
}

#menuh_top li{
  padding: 0 10px 0 5px;
  font-size: 11px;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  border-right: 1px solid #707070;
  margin-right: 10px;
}

#menuh_top a, #search_content a{
  color: #FFF;
}

#menuh_top a:hover{
  color: #707070;
}

#search_content a{
  font-size: 11px;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  border-left: 1px solid #7D7D7D; 
  padding-left: 10px;
}

#logo_cesa{ margin-top: 20px; }

#logo_marcapais{ margin-top: 30px; }

#main_menu{
  background: url(../img/Linea_menu_principal.jpg) no-repeat #404241;
  background-size: contain;
  position: fixed;
  z-index: 10000;
  top: 148px;
}

#main_menu_int{
  position: relative;
  /*z-index: 10000;
  top: 148px;*/
}

#main_menu_int.mm_cesa{
  background: url(../img/Linea_El_CESA.jpg) no-repeat #404241;
  background-size: contain;
}

#main_menu_int.mm_aspirantes{
  background: url(../img/Linea_Aspirantes.jpg) no-repeat #404241;
  background-size: contain;
}

#main_menu_int.mm_estudiantes{
  background: url(../img/Linea_Estudiantes.jpg) no-repeat #404241;
  background-size: contain;
}

#main_menu_int.mm_aecesa{
  background: url(../img/Linea_AECESA.jpg) no-repeat #404241;
  background-size: contain;
}

#main_menu_int.mm_uge{
  background: url(../img/Linea_UGE.jpg) no-repeat #404241;
  background-size: contain;
}

#main_menu_int.mm_fe{
  background: url(../img/Linea_FE.jpg) no-repeat #404241;
  background-size: contain;
}

#menu_home1, #menu_home2, #menu_home2_eng, #menu_links_interes, #menu_links_interes_eng{
  /*background: url(../img/Linea_menu_principal.jpg) no-repeat #404241;
  background-size: contain;*/
  position: relative;
}

#menu_home1{ z-index: 100; }

#menu_home2, #menu_home2_eng{
  margin-bottom: 20px;
}

#main_menu .opc, #menu_home1 .opc, #main_menu_int .opc{
  width: 165px;
  padding: 7px 0;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 15px;
  color: #FFF;
  text-align: center;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
  cursor: pointer;
  background: #404241;
}

#main_menu a, #menu_home1 a, #main_menu_int a{ color: #FFF; }

#main_menu .opc.last, #menu_home1 .opc.last, #main_menu_int .opc.last{
	border-right: 1px solid #666;
}

#menu_home2 .opc{
  /*background: #404241;*/
  width: 103px;
  height: 17px;
  padding: 7px 0 23px 60px;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 15px;
  color: #FFF;
  text-align: left;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
  /*border-bottom: 1px solid #333;*/
  cursor: pointer;
}

#menu_home2 .opc a{ color: #FFF; }

#menu_home2_eng .opc{
  /*background: #404241;*/
  width: 151px;
  height: 17px;
  padding: 13px 0 17px 94px;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 15px;
  color: #FFF;
  text-align: left;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

#menu_home2_eng .opc a{ color: #FFF; }

#menu_links_interes .opc{
  /*background: #404241;*/
  width: 83.5px;
  height: 17px;
  padding: 12px 0 18px 56px;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 15px;
  color: #FFF;
  text-align: left;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
  /*border-bottom: 1px solid #333;*/
  cursor: pointer;
}

#menu_links_interes_eng .opc{
  /*background: #404241;*/
  width: 121px;
  height: 17px;
  padding: 13px 0 18px 74px;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 15px;
  color: #FFF;
  text-align: left;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
  /*border-bottom: 1px solid #333;*/
  cursor: pointer;
}

#menu_links_interes .opc a, #menu_links_interes_eng .opc a{ color: #FFF; }

#main_menu .opc:hover{
  background: rgba(0,0,0,0.8);
  background-image: url(../img/bk_Negro.png)\0/;
  border-top: none !important;
  height: 20px;
}

#main_menu_int .opc:hover{
  background: rgba(0,0,0,0.8);
  background-image: url(../img/bk_Negro.png)\0/;
  border-top: none !important;
  height: 15px;
}

#menu_home1 .opc:hover{
  /*background: #262626;*/
  background: rgba(0,0,0,0.9);
  background-image: url(../img/bk_Negro.png)\0/;
  border-top: none !important;
  height: 20px;
}

/*#menu_home2 .opc:hover{
  background: #373737;
}

#menu_home2 .opc.active{
  background: #373737;
}*/

#main_menu #opc_cesa{ width: 143px; border-top: 2px solid #023f88; }
#main_menu #opc_aspirantes{ width: 152px; border-top: 2px solid #f7b717; }
#main_menu #opc_estudiantes{ width: 152px; border-top: 2px solid #bac430; }
#main_menu #opc_aecesa{ border-top: 2px solid #0ea3db; }
#main_menu #opc_uge{ width: 200px; border-top: 2px solid #1d9f9d; }
#main_menu #opc_fe{ border-top: 2px solid #9c191f; }

#main_menu_int.mm_cesa #opc_cesa{ width: 143px; border-top: 2px solid #023f88; }
#main_menu_int.mm_aspirantes #opc_cesa{ width: 143px; border-top: 2px solid #f7b717; }
#main_menu_int.mm_estudiantes #opc_cesa{ width: 143px; border-top: 2px solid #bac430; }
#main_menu_int.mm_aecesa #opc_cesa{ width: 143px; border-top: 2px solid #0ea3db; }
#main_menu_int.mm_uge #opc_cesa{ width: 143px; border-top: 2px solid #1d9f9d; }
#main_menu_int.mm_fe #opc_cesa{ width: 143px; border-top: 2px solid #9c191f; }
#main_menu_int.mm_cesa #opc_aspirantes{ width: 152px; border-top: 2px solid #023f88; }
#main_menu_int.mm_aspirantes #opc_aspirantes{ width: 152px; border-top: 2px solid #f7b717; }
#main_menu_int.mm_estudiantes #opc_aspirantes{ width: 152px; border-top: 2px solid #bac430; }
#main_menu_int.mm_aecesa #opc_aspirantes{ width: 152px; border-top: 2px solid #0ea3db; }
#main_menu_int.mm_uge #opc_aspirantes{ width: 152px; border-top: 2px solid #1d9f9d; }
#main_menu_int.mm_fe #opc_aspirantes{ width: 152px; border-top: 2px solid #9c191f; }
#main_menu_int.mm_cesa #opc_estudiantes{ width: 152px; border-top: 2px solid #023f88; }
#main_menu_int.mm_aspirantes #opc_estudiantes{ width: 152px; border-top: 2px solid #f7b717; }
#main_menu_int.mm_estudiantes #opc_estudiantes{ width: 152px; border-top: 2px solid #bac430; }
#main_menu_int.mm_aecesa #opc_estudiantes{ width: 152px; border-top: 2px solid #0ea3db; }
#main_menu_int.mm_uge #opc_estudiantes{ width: 152px; border-top: 2px solid #1d9f9d; }
#main_menu_int.mm_fe #opc_estudiantes{ width: 152px; border-top: 2px solid #9c191f; }
#main_menu_int.mm_cesa #opc_aecesa{ border-top: 2px solid #023f88; }
#main_menu_int.mm_aspirantes #opc_aecesa{ border-top: 2px solid #f7b717; }
#main_menu_int.mm_estudiantes #opc_aecesa{ border-top: 2px solid #bac430; }
#main_menu_int.mm_aecesa #opc_aecesa{ border-top: 2px solid #0ea3db; }
#main_menu_int.mm_uge #opc_aecesa{ border-top: 2px solid #1d9f9d; }
#main_menu_int.mm_fe #opc_aecesa{ border-top: 2px solid #9c191f; }
#main_menu_int.mm_cesa #opc_uge{ width: 200px; border-top: 2px solid #023f88; }
#main_menu_int.mm_aspirantes #opc_uge{ width: 200px; border-top: 2px solid #f7b717; }
#main_menu_int.mm_estudiantes #opc_uge{ width: 200px; border-top: 2px solid #bac430; }
#main_menu_int.mm_aecesa #opc_uge{ width: 200px; border-top: 2px solid #0ea3db; }
#main_menu_int.mm_uge #opc_uge{ width: 200px; border-top: 2px solid #1d9f9d; }
#main_menu_int.mm_fe #opc_uge{ width: 200px; border-top: 2px solid #9c191f; }
#main_menu_int.mm_cesa #opc_fe{ border-top: 2px solid #023f88; }
#main_menu_int.mm_aspirantes #opc_fe{ border-top: 2px solid #f7b717; }
#main_menu_int.mm_estudiantes #opc_fe{ border-top: 2px solid #bac430; }
#main_menu_int.mm_aecesa #opc_fe{ border-top: 2px solid #0ea3db; }
#main_menu_int.mm_uge #opc_fe{ border-top: 2px solid #1d9f9d; }
#main_menu_int.mm_fe #opc_fe{ border-top: 2px solid #9c191f; }

 #menu_home1 #opc_1{ width: 144px; border-top: 2px solid #023f88; }
 #menu_home1 #opc_2{ width: 152px; border-top: 2px solid #f7b717; }
 #menu_home1 #opc_3{ width: 152px; border-top: 2px solid #bac430; }
 #menu_home1 #opc_4{ border-top: 2px solid #0ea3db; }
 #menu_home1 #opc_5{ width: 200px; border-top: 2px solid #1d9f9d; }
 #menu_home1 #opc_6{ border-top: 2px solid #9c191f; }

#menu_home1 #opc_eng_1{ width: 328px; border-top: 2px solid #023f88; height: 17px; margin-top: 1px;}
#menu_home1 #opc_eng_1:hover{ height: 19px;}
#menu_home1 #opc_eng_2{ width: 328px; border-top: 2px solid #bac430;}
#menu_home1 #opc_eng_3{ width: 328px; border-top: 2px solid #9c191f; height: 17px; margin-top: 1px;}
#menu_home1 #opc_eng_3:hover{ height: 19px;}

 #menu_home2 #opc_1{ border-top: 2px solid #023f88; background: url(../img/Biblioteca.png) 30px 15px no-repeat #404241; padding: 17px 0 13px 60px;}
 #menu_home2 #opc_1:hover{ background: url(../img/Biblioteca.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_1.active{ background: url(../img/Biblioteca.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_2{ border-top: 2px solid #f7b717; background: url(../img/Editorial.png) 30px 15px no-repeat #404241; }
 #menu_home2 #opc_2:hover{ background: url(../img/Editorial.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_2.active{ background: url(../img/Editorial.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_3{ border-top: 2px solid #bac430; background: url(../img/Centros-de-Apoyo.png) 30px 15px no-repeat #404241; }
 #menu_home2 #opc_3:hover{ background: url(../img/Centros-de-Apoyo.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_3.active{ background: url(../img/Centros-de-Apoyo.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_4{ border-top: 2px solid #0ea3db; background: url(../img/Centros-de-Estudio.png) 22px 15px no-repeat #404241; }
 #menu_home2 #opc_4:hover{ background: url(../img/Centros-de-Estudio.png) 22px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_4.active{ background: url(../img/Centros-de-Estudio.png) 22px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_5{ border-top: 2px solid #1d9f9d; background: url(../img/Relaciones-Internacionales.png) 30px 15px no-repeat #404241; }
 #menu_home2 #opc_5:hover{ background: url(../img/Relaciones-Internacionales.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_5.active{ background: url(../img/Relaciones-Internacionales.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_6{ border-top: 2px solid #9c191f; background: url(../img/Servicios-Online.png) 30px 15px no-repeat #404241; }
 #menu_home2 #opc_6:hover{ background: url(../img/Servicios-Online.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_home2 #opc_6.active{ background: url(../img/Servicios-Online.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}

 #menu_home2_eng #opc_1{ border-top: 2px solid #023f88; background: url(../img/Testimonies.png) 65px 14px no-repeat #404241; height: 16px; margin-top: 1px;}
 #menu_home2_eng #opc_1:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Testimonies.png) 65px 14px no-repeat rgba(0,0,0,0.9);}
 #menu_home2_eng #opc_2{ border-top: 2px solid #f7b717; background: url(../img/International_Oficce.png) 55px 12px no-repeat #404241; padding: 13px 14px 17px 80px; }
 #menu_home2_eng #opc_2:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/International_Oficce.png) 55px 12px no-repeat rgba(0,0,0,0.9); padding: 13px 14px 17px 80px; }
 #menu_home2_eng #opc_3{ border-top: 2px solid #bac430; background: url(../img/Centros-de-Apoyo.png) 55px 12px no-repeat #404241; padding: 13px 14px 17px 80px; }
 #menu_home2_eng #opc_3:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Centros-de-Apoyo.png) 55px 12px no-repeat rgba(0,0,0,0.9); padding: 13px 14px 17px 80px; }
 #menu_home2_eng #opc_4{ border-top: 2px solid #9c191f; background: url(../img/Visits_Abroad.png) 65px 11px no-repeat #404241; height: 16px; margin-top: 1px;}
 #menu_home2_eng #opc_4:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Visits_Abroad.png) 65px 11px no-repeat rgba(0,0,0,0.9); }

#menu_links_interes #opc_1{ border-top: 2px solid #023f88; background: url(../img/Biblioteca.png) 27px 15px no-repeat #404241; padding: 17px 0 13px 55px;}
 #menu_links_interes #opc_1:hover{ background: url(../img/Biblioteca.png) 27px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_1.active{ background: url(../img/Biblioteca.png) 27px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_2{ border-top: 2px solid #f7b717; background: url(../img/Editorial.png) 30px 15px no-repeat #404241; }
 #menu_links_interes #opc_2:hover{ background: url(../img/Editorial.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_2.active{ background: url(../img/Editorial.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_3{ border-top: 2px solid #bac430; background: url(../img/Centros-de-Apoyo.png) 30px 15px no-repeat #404241; }
 #menu_links_interes #opc_3:hover{ background: url(../img/Centros-de-Apoyo.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_3.active{ background: url(../img/Centros-de-Apoyo.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_4{ border-top: 2px solid #0ea3db; background: url(../img/Centros-de-Estudio.png) 22px 15px no-repeat #404241; }
 #menu_links_interes #opc_4:hover{ background: url(../img/Centros-de-Estudio.png) 22px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_4.active{ background: url(../img/Centros-de-Estudio.png) 22px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_5{ border-top: 2px solid #1d9f9d; background: url(../img/Relaciones-Internacionales.png) 18px 15px no-repeat #404241; padding:12px 0 18px 46px; width:94px; }
 #menu_links_interes #opc_5:hover{ background: url(../img/Relaciones-Internacionales.png) 18px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9); padding:12px 0 18px 46px; width:94px;}
 #menu_links_interes #opc_5.active{ background: url(../img/Relaciones-Internacionales.png) 18px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9); padding:12px 0 18px 46px; width:94px;}
 #menu_links_interes #opc_6{ border-top: 2px solid #9c191f; background: url(../img/Servicios-Online.png) 30px 15px no-repeat #404241; }
 #menu_links_interes #opc_6:hover{ background: url(../img/Servicios-Online.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_6.active{ background: url(../img/Servicios-Online.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
#menu_links_interes #opc_7{ border-top: 2px solid #666666; background: url(../img/Links.png) 30px 15px no-repeat #404241; }
 #menu_links_interes #opc_7:hover{ background: url(../img/Links.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}
 #menu_links_interes #opc_7.active{ background: url(../img/Links.png) 30px 15px no-repeat rgba(0,0,0,0.9); border-top:2px solid rgba(0,0,0,0.9);}

#menu_links_interes_eng #opc_1{ border-top: 2px solid #023f88; background: url(../img/Testimonies.png) 46px 14px no-repeat #404241; height: 16px; margin-top: 1px;}
 #menu_links_interes_eng #opc_1:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Testimonies.png) 46px 14px no-repeat rgba(0,0,0,0.9);}
 #menu_links_interes_eng #opc_1.active{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Testimonies.png) 46px 14px no-repeat rgba(0,0,0,0.9);}
 #menu_links_interes_eng #opc_2{ border-top: 2px solid #f7b717; background: url(../img/International_Oficce.png) 28px 12px no-repeat #404241; padding: 14px 14px 17px 53px; width:129px; }
 #menu_links_interes_eng #opc_2:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/International_Oficce.png) 28px 12px no-repeat rgba(0,0,0,0.9); padding: 14px 14px 17px 53px; width:129px; }
 #menu_links_interes_eng #opc_3{ border-top: 2px solid #bac430; background: url(../img/Centros-de-Apoyo.png) 36px 12px no-repeat #404241; padding: 14px 14px 17px 64px; }
 #menu_links_interes_eng #opc_3:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Centros-de-Apoyo.png) 36px 12px no-repeat rgba(0,0,0,0.9); padding: 14px 14px 17px 64px; }
 #menu_links_interes_eng #opc_4{ border-top: 2px solid #9c191f; background: url(../img/Visits_Abroad.png) 40px 11px no-repeat #404241; height: 16px; margin-top: 1px;}
 #menu_links_interes_eng #opc_4:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Visits_Abroad.png) 40px 11px no-repeat rgba(0,0,0,0.9); }
#menu_links_interes_eng #opc_5{ border-top: 2px solid #666666; background: url(../img/Links.png) 40px 11px no-repeat #404241; height: 16px; margin-top: 1px;}
 #menu_links_interes_eng #opc_5:hover{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Links.png) 40px 11px no-repeat rgba(0,0,0,0.9); }
#menu_links_interes_eng #opc_5.active{ border-top: 2px solid rgba(0,0,0,0.9); background: url(../img/Links.png) 40px 11px no-repeat rgba(0,0,0,0.9); }

.main_submenu{
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -495px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.5);
  background-image: url(../img/bk_Negro.png)\0/;
  color: #FFF;
  display: none;
}

.main_submenu_int{
  position: absolute;
  left: 50%;
  top: 100%;
  margin-left: -495px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.5);
  background-image: url(../img/bk_Negro.png)\0/;
  color: #FFF;
  display: none;
  z-index:1000;
}

.submenu_menuhome{
  position: absolute;
  top: 100%;
  color: #FFF;
  display: none;
}

.submenu_menuhome2{
  /*background: #373737;*/
  width: 990px;
  padding-bottom: 20px;
  color: #FFF;
  display: none;
}

#submenu_cesa{ border-bottom: 2px solid #023f88;}
#submenu_aspirantes{ border-bottom: 2px solid #f7b717;}
#submenu_estudiantes{ border-bottom: 2px solid #bac430;}
#submenu_aecesa{ border-bottom: 2px solid #0ea3db;}
#submenu_uge{ border-bottom: 2px solid #1d9f9d;}
#submenu_fe{ border-bottom: 2px solid #9c191f;}

#submh2_1{ border-bottom: 2px solid #023f88; background: url(../img/Biblioteca_g.png) right center no-repeat rgba(0,0,0,0.9); background-position-x:888px; }
#submh2_2{ border-bottom: 2px solid #f7b717; background: rgba(0,0,0,0.9);}
#submh2_3{ border-bottom: 2px solid #bac430; background: url(../img/Centros-de-Apoyo_g.png) right center no-repeat rgba(0,0,0,0.9); background-position-x:855px; }
#submh2_4{ border-bottom: 2px solid #0ea3db; background: url(../img/Centros-de-Estudio_g.png) right center no-repeat rgba(0,0,0,0.9); background-position-x:841px; }
#submh2_5{ border-bottom: 2px solid #1d9f9d; background: url(../img/Relaciones-Internacionales_g.png) right center no-repeat rgba(0,0,0,0.9); background-position-x:855px; }
#submh2_6{ border-bottom: 2px solid #9c191f; background: url(../img/Servicios-Online-g.png) right center no-repeat rgba(0,0,0,0.9); background-position-x:855px; }
#submh2_7{ border-bottom: 2px solid #666666; background: url(../img/Links_g.png) right center no-repeat rgba(0,0,0,0.9); background-position-x:855px; }

#submh2_1 .cont_sbmenu{border-left:2px solid #023f88}
#submh2_2 .cont_sbmenu{border-left:2px solid #f7b717}
#submh2_3 .cont_sbmenu{border-left:2px solid #bac430}
#submh2_4 .cont_sbmenu{border-left:2px solid #0ea3db}
#submh2_5 .cont_sbmenu{border-left:2px solid #1d9f9d}
#submh2_6 .cont_sbmenu{border-left:2px solid #9c191f}
#submh2_7 .cont_sbmenu{border-left:2px solid #666666}

.title_submenu{
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 40px;
  margin: 27px 71px 0 28px;
  line-height: 24px;
  text-align: left;
}

.title_submenuhome2{
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 40px;
  margin: 27px 71px 0 28px;
  line-height: 41px;
  color: #FFF;
}

.title_submenu span{
  font-size: 20px;
  color: #999999;
}

.title_submenuhome2 span{
  color: #707070;
}

.cont_sbmenu{
  margin: 27px 20px 0 0;
  border-left: 2px solid #666;
}

.cont_sbmenu li{
  margin-left: 7px;
  font-family: 'trade_gothic_lt_stdCnno.18';
  font-size: 13px;
  margin-bottom: 5px;
  padding:4px;
  text-align: left;
  cursor: pointer;
}

.cont_sbmenu li a{ color: #FFF }

.cont_sbmenu li:hover{
  background: #666;
}

.cont_sbmenu li a:hover{ color: #FFF }

.submenu_menuhome ul{
  margin: 0 auto;
}

.submenu_menuhome li{
  /*background: #262626;*/
  background: rgba(0,0,0,0.5);
  background-image: url(../img/bk_Negro.png)\0/;
  padding: 8px 10px;
  border-left: 1px solid #666;
  border-right: 1px solid #333;
}

#submenu_opc3{
  margin-left: -1px;
}

#submenu_opc4{
  margin-left: -1px;
}

#submenu_opc5{
  margin-left: 12px;
}

#submenu_opc3 .borde-bottom{
  border-bottom: 2px solid #bac430;
}


#submenu_opc4 .borde-bottom{
  border-bottom: 2px solid #0ea3db;
}



#submenu_opc5 li{
  border-bottom: 2px solid #1d9f9d;
}

#submenu_opc1 li:hover, #submenu_opc2 li:hover, #submenu_opc3 li:hover, #submenu_opc4 li:hover, #submenu_opc5 li:hover, #submenu_opc6 li:hover{
  /*border-bottom: none;*/
	background: #666;

}

#img_menu_home1{
  height: 250px;
  overflow: hidden;
  margin-bottom: 20px;
}

#img_menu_home1 .cont_menu_home1{
  display: none;
}

#img_menu_home1 .cont_menu_home1.active{
  display: block;
}

#img_menu_home1 .cont_menu_home1 .blur{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

/*slider*/

.blur_slider{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  background-size: cover;

}

.content_msg{
  position: absolute;
  width: 606px;
  height: 234px;
  padding: 20px 127px;
  background: rgba(0, 0, 0, 0.4);
  background-image: url(../img/bk_Negro.png)\0/;
  top: 50%;
  left: 50%;
  margin: -69px 0 0 -430px;
}

.slider-arrow{ position: absolute; top: 425px }
.slider-arrow.prev{ left: 50%; margin-left: -409px;}
.slider-arrow.next{ right: 50%; margin-right: -411px;}

.title_slider{
  font-family: 'trade_gothic_lt_stdBdCnno20';
  color: #FFF;
  font-size: 48px;
  line-height: 52px;
  text-align: left;
}

.descrip_slider{
  padding: 12px;
  font-family: 'trade_gothic_lt_stdCnno.18';
  font-size: 18px;
  line-height: 18px;
  color: #FFF;
  background: rgba(0,0,0,0.4);
  background-image: url(../img/bk_Negro.png)\0/;
}

.descrip_slider a{ color:#FFF; font-weight: bold; }

.descrip_slider .ver_mas{ margin: 0 0 0 542px; width: 28px; }

.dots{
  width: 100%;
  height: 10px;
  margin:0;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  background: none\0/;
}

.dots li{
  float: left;
  background: #023f88;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  color: transparent !important;
  cursor: pointer;

  /*para Firefox*/
  -moz-border-radius: 15px 15px 15px 15px;
  /*para Safari y Chrome*/
  -webkit-border-radius: 15px 15px 15px 15px;
  /* para Opera */
  border-radius: 15px 15px 15px 15px;
}

.dots li.active{ background: #FFF; }

.dots li:first-child{ margin-left: 46%;}

/*fin slider*/

/**footer*/
.submenu_foot a {
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 11px;
  color: #B3B3B3;
  text-align: left;
}

.submenu_foot a:hover{
  color: #FFF;
}

.footer{
  background:#404241;
  color: #cacccb;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size:11px;
  padding: 5px 20px;
  width: 950px;
}

.footer ul{ display: inline;}
.footer a{ text-decoration: none; color: #cacccb; }

.footer .dato{
  padding-right: 10px;
  border-right: 1px solid #cacccb;
  display: inline;
  margin-right: 5px;
}

.footer .dato2{
  padding-left: 10px;
  border-left: 1px solid #cacccb;
  display: inline;
  margin-left: 5px;
}

#menu_footer, #menu_footer_eng{
  width: 970px;
  height: 60px;
  padding: 0 0 0 20px;
  background: #000;
}

#menu_footer li, #menu_footer_eng li{
  margin-right: 20px;
  text-align: left;
  font-family: 'trade_gothic_lt_stdBdCnno20';
  font-size: 15px;
  color: #FFF;
  background: #000;
}

#menu_footer li.short{
  padding-top: 15px;
  height: 45px;
}

#menu_footer li.large{
  padding-top: 8px;
  height: 52px;
}

#menu_footer #opc1{ width: 120px; }
#menu_footer #opc2{ width: 161px; }
#menu_footer #opc3{ width: 130px; }
#menu_footer #opc4{ width: 105px; }
#menu_footer #opc5{ width: 130px; }
#menu_footer #opc6{ width: 107px; }
#menu_footer #opc7{ width: 77px; }

#menu_footer_eng #opc1{ width: 120px; }
#menu_footer_eng #opc2{ width: 180px; }
#menu_footer_eng #opc3{ width: 149px; }
#menu_footer_eng #opc4{ width: 124px; }
#menu_footer_eng #opc5{ width: 149px; }
#menu_footer_eng #opc6{ width: 107px; }

#restofooter{
  display: none;
}

.row_mapSito{
  width: 100%;
  float: left;
  padding: 10px 0;
  background: #333333;
}

.row_mapSito li{
  margin-left: 20px;
}

/**
 * DEBUG
 * -----------------------------------------------------------------------------
 */
/**
.page *{outline:1px dotted #c9c9c9;}
**/0