@import url("https://fonts.googleapis.com/css?family=PT+Sans");
body {
    font-family: "Poppins", sans-serif !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls,
body.advanced div#header .find-field-inner fieldset.find-field-controls,
body.results div#header .find-field-inner fieldset.find-field-controls,
body.detail div#header .find-field-inner fieldset.find-field-controls {
    margin: 30px 0 0 0;
    background: transparent;
    padding: 15px 30px !important;
    border-radius: 10px
}

body.basic div#mainContentArea #content fieldset.find-field-controls .searching,
body.advanced div#header .find-field-inner fieldset.find-field-controls .searching,
body.results div#header .find-field-inner fieldset.find-field-controls .searching,
body.detail div#header .find-field-inner fieldset.find-field-controls .searching {
    font-size: 13px;
    margin: 0 0 10px 0;
    max-width: 700px;
    text-align: left
}

body.basic div#mainContentArea #content fieldset.find-field-controls .searching span,
body.advanced div#header .find-field-inner fieldset.find-field-controls .searching span,
body.results div#header .find-field-inner fieldset.find-field-controls .searching span,
body.detail div#header .find-field-inner fieldset.find-field-controls .searching span,
body.basic div#mainContentArea #content fieldset.find-field-controls .searching .color-p2,
body.advanced div#header .find-field-inner fieldset.find-field-controls .searching .color-p2,
body.results div#header .find-field-inner fieldset.find-field-controls .searching .color-p2,
body.detail div#header .find-field-inner fieldset.find-field-controls .searching .color-p2 {
    color: white !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls .searching .color-p2,
body.advanced div#header .find-field-inner fieldset.find-field-controls .searching .color-p2,
body.results div#header .find-field-inner fieldset.find-field-controls .searching .color-p2,
body.detail div#header .find-field-inner fieldset.find-field-controls .searching .color-p2 {
    display: none
}

body.basic div#mainContentArea #content fieldset.find-field-controls #findFieldLinks,
body.advanced div#header .find-field-inner fieldset.find-field-controls #findFieldLinks,
body.results div#header .find-field-inner fieldset.find-field-controls #findFieldLinks,
body.detail div#header .find-field-inner fieldset.find-field-controls #findFieldLinks {
    padding: 17px 0 10px
}

body.basic div#mainContentArea #content fieldset.find-field-controls #findFieldLinks .find-field-link > span,
body.advanced div#header .find-field-inner fieldset.find-field-controls #findFieldLinks .find-field-link > span,
body.results div#header .find-field-inner fieldset.find-field-controls #findFieldLinks .find-field-link > span,
body.detail div#header .find-field-inner fieldset.find-field-controls #findFieldLinks .find-field-link > span {
    color: white
}

body.basic div#mainContentArea #content fieldset.find-field-controls #findFieldLinks .find-field-link > a,
body.advanced div#header .find-field-inner fieldset.find-field-controls #findFieldLinks .find-field-link > a,
body.results div#header .find-field-inner fieldset.find-field-controls #findFieldLinks .find-field-link > a,
body.detail div#header .find-field-inner fieldset.find-field-controls #findFieldLinks .find-field-link > a {
    color: #9DD0DD
}

@media (max-width: 1023px) {
    body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs .find-field-inputs-row,
    body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row,
    body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row,
    body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row {
        display: flex;
        flex-wrap: wrap
    }
    body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs,
    body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs,
    body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs,
    body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs {
        flex-basis: 75%
    }
}

@media (max-width: 480px) {
    body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs,
    body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs,
    body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs,
    body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-inputs-row span.inputs {
        flex-basis: 100%
    }
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm {
    margin: 0 15px 0 0px
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1 {
    border-radius: 10px !important;
    border: none !important;
    color: #00284e !important;
    background: white !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active {
    padding: 0 18px 0 16px !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active .transport,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active .transport,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active .transport,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm button#mb1.dd-active .transport {
    right: 10px
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors {
    width: 97%;
    border: none;
    top: 50px !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item label,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item label,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item label,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item label {
    padding: 10px !important;
    color: #666
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item .dd-input:checked + .dd-label,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item .dd-input:checked + .dd-label,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item .dd-input:checked + .dd-label,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs #guidedFieldForm ul#guidedFieldSelectors li.dd-list-item .dd-input:checked + .dd-label {
    color: #fff;
    background-color: #00284e
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs .find-field-submit input#SearchButton,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-submit input#SearchButton,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-submit input#SearchButton,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .find-field-submit input#SearchButton {
    border-radius: 30px;
    background: #23b9d7 !important;
    border: none !important;
    padding: 0 25px !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs .text-container input,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .text-container input,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .text-container input,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .text-container input {
    border: none !important;
    border-radius: 10px !important;
    background: white !important
}

body.basic div#mainContentArea #content fieldset.find-field-controls .find-field-inputs .text-container button#SearchTerm1-clear,
body.advanced div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .text-container button#SearchTerm1-clear,
body.results div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .text-container button#SearchTerm1-clear,
body.detail div#header .find-field-inner fieldset.find-field-controls .find-field-inputs .text-container button#SearchTerm1-clear {
    left: auto !important;
    right: 15px !important
}

body.basic div#header {
    display: none
}

body.basic div#mainContentArea {
    min-height: calc(100vh - 98px) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://biblioteca.ilumno.com/sites/default/files/themeStacks_bg.jpg) !important;
    background-position: center bottom;
    background-size: cover
}

body.basic div#mainContentArea .find-field-outer {
    margin: -80px 0 0 0
}

body.basic div#mainContentArea .find-field-inner {
    padding: 0 !important
}

body.basic div#mainContentArea #content {
    width: 700px !important
}

body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea {
    background: #f2f2f2;
    margin: -10px 0 0 0;
    padding: 15px 0 !important
}

body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea button#ResetButton {
    border: thin solid #23b9d7 !important;
    background: transparent !important;
    color: #23b9d7 !important;
    border-radius: 10px !important;
    padding: 0 15px !important;
    height: 30px !important;
    font-size: 13px !important
}

body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea input#ctl00_ctl00_MainContentArea_MainContentArea_ctrlLimiters_btnSearch.rs_preserve {
    margin: 15px 0 0 0;
    border: none !important;
    border-radius: 10px !important;
    background: #00284e !important;
    color: #fff !important
}

body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea fieldset {
    background: #f2f2f2;
    margin: 0 auto !important;
    padding: 15px !important;
    width: 95% !important;
    max-width: 95% !important
}

body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea fieldset legend {
    background: #f2f2f2 !important
}

body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea fieldset legend h3,
body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea fieldset legend h4,
body.basic div#mainContentArea #content div#ctl00_ctl00_MainContentArea_MainContentArea_limiterArea fieldset legend span {
    background: #f2f2f2 !important;
    color: #00284e !important;
    font-size: 18px !important
}

body.advanced div#header {
    display: block;
    background-image: url(https://biblioteca.ilumno.com/sites/default/files/themeStacks_bg2.jpg) !important;
    background-position: center top;
    background-size: cover;
    padding: 30px 204px 30px 20px !important
}

@media (max-width: 1023px) {
    body.advanced div#header {
        padding: 40px 0px 10px 0px !important
    }
}

@media (max-width: 480px) {
    body.advanced div#header {
        padding: 10px 0px 10px 0px !important
    }
}

body.advanced div#header .find-field-outer .logo-img {
    max-width: 320px
}

body.advanced div#header .find-field-inner {
    display: flex !important;
    width: 100%;
    flex-wrap: wrap;
    align-items: center
}

body.advanced div#header .find-field-inner .spellcheck {
    margin: 20px 0
}

body.advanced div#header .find-field-inner .spellcheck span {
    color: white;
    font-weight: 100
}

body.advanced div#header .find-field-inner .spellcheck a {
    color: white
}

body.advanced div#header .find-field-inner a.logo {
    flex-basis: 15%
}

@media (max-width: 1023px) {
    body.advanced div#header .find-field-inner a.logo {
        flex-basis: 100%
    }
}

body.advanced div#header .find-field-inner fieldset.find-field-controls {
    margin: 0 !important;
    flex-basis: 80%;
    max-width: 700px;
    margin: auto !important
}

@media (max-width: 1080px) {
    body.advanced div#header .find-field-inner fieldset.find-field-controls {
        flex-basis: 67%;
        padding: 15px 0px 15px 40px !important
    }
}

@media (max-width: 1023px) {
    body.advanced div#header .find-field-inner fieldset.find-field-controls {
        flex-basis: 100%;
        padding: 15px 0px 15px 40px !important
    }
}

@media (max-width: 480px) {
    body.advanced div#header .find-field-inner fieldset.find-field-controls {
        padding: 15px 20px 15px 20px !important
    }
}

body.advanced div#header .customerLogo {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    display: none
}

body.results div#header {
    display: block;
    background-image: url(https://biblioteca.ilumno.com/sites/default/files/themeStacks_bg2.jpg) !important;
    background-position: center top;
    background-size: cover;
    padding: 30px 204px 30px 20px !important
}

@media (max-width: 1023px) {
    body.results div#header {
        padding: 40px 0px 10px 0px !important
    }
}

@media (max-width: 480px) {
    body.results div#header {
        padding: 10px 0px 10px 0px !important
    }
}

body.results div#header .find-field-outer .logo-img {
    max-width: 320px
}

body.results div#header .find-field-inner {
    display: flex !important;
    width: 100%;
    flex-wrap: wrap;
    align-items: center
}

body.results div#header .find-field-inner .spellcheck {
    margin: 20px 0
}

body.results div#header .find-field-inner .spellcheck span {
    color: white;
    font-weight: 100
}

body.results div#header .find-field-inner .spellcheck a {
    color: white
}

body.results div#header .find-field-inner a.logo {
    flex-basis: 15%
}

@media (max-width: 1023px) {
    body.results div#header .find-field-inner a.logo {
        flex-basis: 100%
    }
}

body.results div#header .find-field-inner fieldset.find-field-controls {
    margin: 0 !important;
    flex-basis: 80%;
    max-width: 700px;
    margin: auto !important
}

@media (max-width: 1080px) {
    body.results div#header .find-field-inner fieldset.find-field-controls {
        flex-basis: 67%;
        padding: 15px 0px 15px 40px !important
    }
}

@media (max-width: 1023px) {
    body.results div#header .find-field-inner fieldset.find-field-controls {
        flex-basis: 100%;
        padding: 15px 0px 15px 40px !important
    }
}

@media (max-width: 480px) {
    body.results div#header .find-field-inner fieldset.find-field-controls {
        padding: 15px 20px 15px 20px !important
    }
}

body.results div#header .customerLogo {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    display: none
}

@media (max-width: 480px) {
    body.results #mainContentArea #content {
        overflow: scroll
    }
}

@media (max-width: 480px) {
    body.results #mainContentArea #content {
        padding: 0px 20px
    }
}

body.results #mainContentArea #content .content-header h1.page-title {
    color: #23b9d7 !important
}

body.results #mainContentArea #content .content-header h1.page-title span.color-p2 {
    color: #00284e !important
}

@media (max-width: 480px) {
    body.results #mainContentArea #content .content-header .page-count {
        display: block;
        padding: 0;
        margin: 16px 0
    }
}

@media (max-width: 480px) {
    body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li {
        border-bottom: thin dashed #ccc !important
    }
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .record-index {
    color: #23b9d7;
    font-size: 18px
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li h3.title-link-wrapper a.title-link {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 100 !important
}

@media (max-width: 480px) {
    body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li h3.title-link-wrapper a.title-link {
        font-size: 18px !important;
        line-height: 1.5 !important
    }
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Arial', sans-serif;
    color: #333 !important
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .rtac {
    margin: 30px 0 20px 0
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .subjectResults {
    color: #8FAABB !important
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .subjectResults strong {
    font-weight: 400;
    color: #333
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .record-formats-wrapper {
    margin: 30px 0 0 0
}

@media (max-width: 1023px) {
    body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .record-formats-wrapper .PlumX-Popup {
        margin: 7px 0 0 -6px !important
    }
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .record-formats-wrapper a:link,
body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .record-formats-wrapper a:visited {
    font-family: "Poppins", sans-serif;
    color: #00284e !important;
    text-decoration: none !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    padding: 10px
}

body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .record-formats-wrapper a:link:hover,
body.results #mainContentArea #content .content-wrapper ul.result-list li.result-list-li .display-info .record-formats-wrapper a:visited:hover {
    border-radius: 10px;
    background: #f2f2f2
}

body.results.column1-open #content {
    margin-left: 280px
}

body.results.column1-open #column1 {
    width: 280px;
    padding: 15px 3px 15px 25px
}

body.results.column1-open .extra1 {
    left: 285px
}

body.results #column1 .collapsible-content .refine-heading {
    font-size: 16px;
    font-weight: 500;
    color: #23b9d7
}

body.results #column1 .collapsible-content #breadbox {
    border: solid 1px #23b9d7;
    border-radius: 5px !important
}

body.results #column1 .collapsible-content #breadbox .collapse-toggle {
    color: #23b9d7;
    border-bottom: thin solid #f2f2f2;
    padding: 0px 0 2px 0
}

body.results #column1 .collapsible-content #breadbox .collapse-toggle span {
    font-weight: 500
}

body.results #column1 .collapsible-content #breadbox #breadboxContent {
    padding: 20px 10px;
    background-color: #fff;
    border: none
}

body.results #column1 .collapsible-content #breadbox #breadboxContent h3,
body.results #column1 .collapsible-content #breadbox #breadboxContent h4 {
    font-weight: 600;
    color: #00284e
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent {
    display: flex;
    flex-wrap: wrap
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl {
    width: 100%;
    order: 2
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType {
    width: 100%;
    order: 1
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer {
    width: 100%;
    order: 2
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer .multiSelectPanel {
    margin: 10px 0 !important
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter {
    width: 100%;
    order: 2
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter {
    margin: 10px 0 !important
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl #resultsLimiterTrigger,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType #resultsLimiterTrigger,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer #resultsLimiterTrigger,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter #resultsLimiterTrigger {
    margin-top: 0px !important
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl .rl-lim-heading,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType .rl-lim-heading,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer .rl-lim-heading,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter .rl-lim-heading {
    color: #000 !important;
    font-size: 1.167em !important;
    font-weight: normal !important;
    border-bottom: none;
    border-top: none;
    padding: 8px 10px;
    background: #f2f2f2;
    border-radius: 5px
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl .rl-lim-heading.active,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType .rl-lim-heading.active,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer .rl-lim-heading.active,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter .rl-lim-heading.active {
    background: #f2f2f2;
    border-radius: 10px 10px 0px 0px
}

body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl .rl-lim-heading .icon,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType .rl-lim-heading .icon,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer .rl-lim-heading .icon,
body.results #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter .rl-lim-heading .icon {
    top: 10px;
    right: 8px;
    left: auto
}

body.detail div#header {
    display: block;
    background-image: url(https://biblioteca.ilumno.com/sites/default/files/themeStacks_bg2.jpg) !important;
    background-position: center top;
    background-size: cover;
    padding: 30px 204px 30px 20px !important
}

@media (max-width: 1023px) {
    body.detail div#header {
        padding: 40px 0px 10px 0px !important
    }
}

@media (max-width: 480px) {
    body.detail div#header {
        padding: 10px 0px 10px 0px !important
    }
}

body.detail div#header .find-field-outer .logo-img {
    max-width: 320px
}

body.detail div#header .find-field-inner {
    display: flex !important;
    width: 100%;
    flex-wrap: wrap;
    align-items: center
}

body.detail div#header .find-field-inner a.logo {
    flex-basis: 15%
}

@media (max-width: 1023px) {
    body.detail div#header .find-field-inner a.logo {
        flex-basis: 100%
    }
}

body.detail div#header .find-field-inner fieldset.find-field-controls {
    margin: 0 !important;
    flex-basis: 80%;
    max-width: 700px;
    margin: auto !important
}

@media (max-width: 1080px) {
    body.detail div#header .find-field-inner fieldset.find-field-controls {
        flex-basis: 67%;
        padding: 15px 0px 15px 40px !important
    }
}

@media (max-width: 1023px) {
    body.detail div#header .find-field-inner fieldset.find-field-controls {
        flex-basis: 100%;
        padding: 15px 0px 15px 40px !important
    }
}

@media (max-width: 480px) {
    body.detail div#header .find-field-inner fieldset.find-field-controls {
        padding: 15px 20px 15px 20px !important
    }
}

body.detail div#header .customerLogo {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
    display: none
}

body.detail.column1-open #content {
    margin-left: 280px
}

body.detail.column1-open #column1 {
    width: 280px;
    padding: 15px 3px 15px 25px
}

body.detail.column1-open .extra1 {
    left: 285px
}

body.detail.column2-open #content {
    margin-right: 190px
}

body.detail.column2-open #column2 {
    margin-left: -188px;
    width: 188px
}

body.detail.column2-open .extra1 {
    right: 185px
}

body.detail #column1 .collapsible-content .refine-heading {
    font-size: 16px;
    font-weight: 500;
    color: #23b9d7
}

body.detail #column1 .collapsible-content #breadbox {
    border: solid 1px #23b9d7
}

body.detail #column1 .collapsible-content #breadbox .collapse-toggle {
    color: #23b9d7;
    border-bottom: thin solid #f2f2f2;
    padding: 0px 0 2px 0
}

body.detail #column1 .collapsible-content #breadbox .collapse-toggle span {
    font-weight: 500
}

body.detail #column1 .collapsible-content #breadbox #breadboxContent {
    padding: 20px 10px;
    background-color: #fff;
    border: none
}

body.detail #column1 .collapsible-content #breadbox #breadboxContent h3,
body.detail #column1 .collapsible-content #breadbox #breadboxContent h4 {
    font-weight: 600;
    color: #00284e
}

body.detail #column1 .collapsible-content .toggle-box #narrowYourResultsContent {
    display: flex;
    flex-wrap: wrap
}

body.detail #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#resultsLimiterControl {
    width: 100%;
    order: 2
}

body.detail #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDocType {
    width: 100%;
    order: 1
}

body.detail #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectClusterContainer {
    width: 100%;
    order: 2
}

body.detail #column1 .collapsible-content .toggle-box #narrowYourResultsContent div#multiSelectDbFilter {
    width: 100%;
    order: 2
}

body.detail #column1 .format-control li span {
    color: #00284e;
    font-weight: 400
}

body.detail #column1 .format-control li.custom-link-item a {
    width: 220px;
    padding: 0 0 0 30px !important;
    position: relative
}

body.detail #column1 .format-control li.custom-link-item a img {
    position: absolute;
    left: 7px;
    top: -3px
}

body.detail #column1 .format-control li.custom-link-item a .plx-print {
    position: absolute;
    left: -6px;
    top: -8px;
    width: 35px;
    height: 35px
}

body.detail #column2 {
    overflow: hidden
}

body.detail #column2 .collapsible-content .article-tools-header {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #23b9d7 !important
}

body.detail #mainContentArea #content .content-header .page-count strong {
    color: #23b9d7
}

body.detail #mainContentArea #content .content-footer .page-count strong {
    color: #23b9d7
}

@media (max-width: 480px) {
    body.detail #mainContentArea #content .content-footer .page-count {
        display: block;
        padding: 0;
        margin: 16px 0
    }
}

body.detail #mainContentArea #content .citation-wrapping-div .citation-fields .citation-title a {
    color: #23b9d7;
    font-family: "Poppins", sans-serif !important
}

@media (max-width: 1080px) {
    body.detail #mainContentArea #content .citation-wrapping-div .citation-fields .citation-title a {
        font-size: 20px
    }
}

body.detail #mainContentArea #content .citation-wrapping-div .citation-fields dt {
    color: #23b9d7;
    text-align: right !important;
    font-weight: 500
}

body.detail .custom-widget {
    border: thin solid #b0b0b0 !important
}

body.detail .custom-widget h2.collapse-toggle {
    background: #d9dfe4 !important
}

body.detail .custom-widget h2.collapse-toggle a span.color-p1 {
    color: #00284e !important;
    font-family: "Poppins", sans-serif !important
}

.footer-wrapper div#biblioteca,
.footer-wrapper div#conozca,
.footer-wrapper div#conozca-button {
    display: none
}

@media (max-width: 1023px) {
    .footer-wrapper .branding-container {
        display: block !important
    }
}

.footer-wrapper .push-sticky-footer {
    display: none
}

.footer-wrapper div#redes {
    background: #00284e;
    height: 60px
}

.footer-wrapper div#redes img.ilumno {
    width: 250px;
    margin: 10px 0px 0 30px
}

@media (max-width: 480px) {
    .footer-wrapper div#redes img.ilumno {
        margin: 12px 10px 0 10px;
        width: 190px
    }
}

.footer-wrapper div#redes ul#social {
    margin: 0px 30px 0 0;
    padding: 0
}

@media (max-width: 480px) {
    .footer-wrapper div#redes ul#social {
        padding: 0;
        width: 160px;
        margin: 0px
    }
}

.footer-wrapper div#redes ul#social li a {
    width: 30px
}

.footer-wrapper div#redes ul#social li a img {
    width: 100%;
    height: auto
}