/* Tablet */
@media only screen and (min-width : 601px) and (max-width : 959px) {

  .tadeo-biblioteca-page.library-interna #content .region-content {
    padding: 5px;
  }
  #preface-second #block-tadeo-library-tadeo-search-library {
    width: 100%;
  }
  #preface-second #block-tadeo-library-tadeo-search-library .wrapper-search-form {
    height: 344px;
    padding-top: 1px;
  }
  #preface-second #block-tadeo-library-tadeo-search-library .content-search-form {
    background: rgba(33, 47, 57, 0.85);
    height: 144px;
    margin: 13% auto;
    width: 570px;
  }
  #preface-second #block-tadeo-library-tadeo-search-library .content-search-form .elements {
    margin: 0 auto;
    padding: 20px 0 0 25px;
    width: 90%;
  }
  #preface-second #block-tadeo-library-tadeo-search-library .content-search-form .elements .form-item.form-type-textfield {
    float: left;
    margin-right: 22px;
    width: 73%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content #block-views-biblioteca-block-news-bienestar .attachment,
  .tadeo-general.tadeo-biblioteca-page .region-content #block-views-biblioteca-block-news-bienestar .view-display-id-block_news_bienestar > .view-content {
    clear: both;
    height: 308px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content #block-views-biblioteca-block-news-bienestar li.views-row {
    float: left;
    height: 298px;
    padding-bottom: 10px;
    position: relative;
    width: 684px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_video_micrositio .views-row .views-field-body,
  .tadeo-general.tadeo-biblioteca-page .region-content #block-views-biblioteca-block-news-bienestar .views-field-body {
    color: #FFF;
    font-size: 0.8em;
    padding: 5px 7px;
    position: absolute;
    bottom: 10%;
    width: 70%;
    background: #000000;
    opacity: 0.7;
    height: 80px;
  }
  .tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .views-field-body a {
    font-size: 0.9em;
    font-weight: normal;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-footer {
    bottom: 1%;
    right: 27%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-library,
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-inf-library {
    height: 208px;
    margin-bottom: 2px;
    width: 29%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-library h2,
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-inf-library h2 {
    margin: 2px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-library .view-display-id-block_links_biblioteca .views-row,
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-inf-library .view-display-id-block_schedule_biblioteca .views-row {
    height: 35px;
    margin: 0px 2px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-library .view-display-id-block_links_biblioteca .views-row a,
  .tadeo-general.tadeo-biblioteca-page .region-content .block-banners-inf-library .view-display-id-block_schedule_biblioteca .views-row a {
    font-size: 0.8em;
    font-weight: normal;
    padding: 5px 0 5px 30px;
    top: 5px;
    width: 86%;
}
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_events_biblioteca {
    background: rgb(255,192,0) none repeat scroll 0% 0%;
    height: 89px;
    position: relative;
    width: 98%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_events_biblioteca .views-row .views-field-tadeo-views-field-date {
    width: 64px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_events_biblioteca .views-row .tadeo-views-month {
    display: block;
    padding: 2px;
    font-weight: bold;
    float: left;
    font-size: 0.9em;
    width: 50%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_events_biblioteca .views-row a {
    height: 44px;
    font-size: 0.75em;
    font-weight: normal;
    margin: 0px auto;
    padding: 1% 0px 0;
    width: 95%;
  }
  .tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-controls-bottom .views-slideshow-pager-fields {
    margin: 0 auto;
    width: 45%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .block-recommended-library {
    margin-right: 0px;
    width: 69%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .block-recommended-library h2 {
    margin: 2px 0px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca {
    margin: 2px;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca .views-row {
    margin: 2px;
    width: 49%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca .views-row .views-field-title {
    padding: 2px 2px;
    width: 44%;
    overflow: hidden;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca .views-row .views-field-title a {
    color: #444444;
    font-size: 0.8em;
    font-weight: normal;
    text-transform: uppercase;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca .views-row .views-field-field-publication-category {
    padding-left: 2px;
    font-size: 0.8em;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca .views-row .views-field-body {
    font-size: 0.75em;
    padding-left: 2px;
    width: 45%;
  }
  .tadeo-general.tadeo-biblioteca-page .region-content .view-display-id-block_recomendado_biblioteca .views-row .views-field-view-node {
    padding-left: 2px;
    margin: 2px 0px 2px;
  }
  .tadeo-general.tadeo-biblioteca-page .tadeo-social-wrapper {
    width: 31%;
  }
  .tadeo-biblioteca-page .social-network-items .social-wrapper {
    margin: 0px auto;
    width: 73%;
  }
  .tadeo-biblioteca-page .social-network-items .social-network-item {
    font-size: 25px;
    margin-right: 5px;
  }
  .tadeo-general.tadeo-biblioteca-page .block.block-banners-library,
  .tadeo-general.tadeo-biblioteca-page .block.block-banners-inf-library {
    width: 236px;
  }
  .tadeo-general.tadeo-biblioteca-page .view-biblioteca.view-display-id-block_events_biblioteca {
    height: 140px;
    width: 236px;
  }
  .tadeo-general.tadeo-biblioteca-page .view-biblioteca.view-display-id-block_events_biblioteca .views-row a {
    font-size: 0.85em;
  }
  .tadeo-general.tadeo-biblioteca-page .view-display-id-block_library_team .views-row {
    height: auto;
  }

  /** Menu Tablet **/
  .tadeo-biblioteca-page .only-in-mobile {
    display: block;
  }
  .tadeo-biblioteca-page .region-preface-second #block-tadeo-bienestar-tadeo-global-menu,
  .tadeo-biblioteca-page .region-preface-second #block-tadeo-bienestar-tadeo-global-menu .content {
    height: auto;
  }
  .tadeo-biblioteca-page .region-preface-second .header-logo-image {
    width: 100%;
  }
  .tadeo-biblioteca-page.tadeo-general .region-preface-second #system-library .block-tadeo-bienestar .content > .header-links-images .header-logo-image {
    background: #002E51 none repeat scroll 0% 0%;
    border-bottom: 0px solid #5399B9;
  }
  .tadeo-biblioteca-page.tadeo-general #preface-second .block-tadeo-bienestar .header-image {
    background: #1e4f86;
    border-bottom: 0;
    height: 26px;
  }
  .tadeo-biblioteca-page .region-preface-second #block-tadeo-bienestar-tadeo-global-menu .content > .menu > .menu-item {
    float: none;
    height: 18px;
    padding: 4px 4px 4px 0px;
  }
  .link-mobile {
    position: relative;
    height: 27px;
  }
  .link-mobile a.link-mobile-item {
    background: url("/sites/tadeo/themes/seed_tadeo/images/mobile/bg-menu-mobile.png") no-repeat center center;
    display: block;
    height: 27px;
    width: 22px;
    font-size: 0;
    position: absolute;
    right: 5px;
  }
  .tadeo-biblioteca-page #page #block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu {
    display: none;
    margin: 0;
    position: relative;
    right: 2px;
    top: 0;
    -webkit-padding-start: 0;
  }
  .tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > #block-menu-header.menu .menu-item.first-0,
  .tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > #block-menu-header.menu > .menu-item {
    background: none repeat scroll 0 0 #1e4f86;
    height: auto;
    overflow: hidden;
    padding: 2px;
    width: 100%;
  }
  .tadeo-biblioteca-page #block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu > .menu-item > a,
  .tadeo-biblioteca-page #block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu > .menu-item > span {
    border-left: 0px solid #fff;
    color: #fff;
    height: 23px;
    padding-left: 25px;
    display: block;
    text-align: left;
    border-bottom: 2px solid #39658F;
  }
  .tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu .menu-item:hover .menu,
  .tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu .menu-item.hover_effect .menu {
    background: #39658F;
    height: auto;
    top: 0px;
    width: 100%;
    padding: 0;
    position: relative;
  }
  .tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu .menu-item:hover .menu-item,
  .tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu .menu-item.hover_effect .menu-item {
    background: #39658F;
    border-bottom: thin dotted #FFF;
    width: 100%;  
  }
  .tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu .menu-item .menu-item a {
    display: block;
    height: auto;
    min-height: 0;
    padding: 2px 2px 2px 10px;
    white-space: normal;
    width: 95%;
    text-align: left;
  }
  .tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content > #block-menu-header.menu .menu-item .menu-item span {
    color: #FFF;
    font-size: 0.7em;
    padding-left: 10px;
    text-align: left;
    display: block;
  }

}