/** Biblioteca **/
@font-face{
  font-family:"Material Design Icons";
  src:url("../fonts/materialdesignicons-webfont.eot?v=1.3.41");
  src:url("../fonts/materialdesignicons-webfont.eot?#iefix&v=1.3.41") format("embedded-opentype"),url("../fonts/materialdesignicons-webfont.woff2?v=1.3.41") format("woff2"),url("../fonts/materialdesignicons-webfont.woff?v=1.3.41") format("woff"),url("../fonts/materialdesignicons-webfont.ttf?v=1.3.41") format("truetype"),url("../fonts/materialdesignicons-webfont.svg?v=1.3.41#materialdesigniconsregular") format("svg");
  font-weight:normal;
  font-style:normal
}
.tadeo-biblioteca-page .region-preface-second .block {
  margin-bottom: 0;
}
.tadeo-biblioteca-page.no-sidebars #content {
  background-color: #FFF;
  padding-top: 0;
}
.tadeo-biblioteca-page .region-content .tadeo-social-wrapper {
  width: 29%;
}
.tadeo-biblioteca-page .tadeo-social-wrapper {
  float: right;
  width: 100%;
}
.tadeo-biblioteca-page .social-network-items {
  height: 87px;
  overflow: hidden;
  padding-top: 10px;
  width: 100%;
}
.tadeo-biblioteca-page .social-network-items .social-wrapper {
  margin: 0px auto;
  width: 66%;
}
.tadeo-biblioteca-page .social-network-items .social-network-item {
  background-color: #FFA64D;
  border: 4px solid #FFA64D;
  border-radius: 21px;
  box-shadow: 3px 3px 3px #D3D3D3;
  color: #FFF;
  display: inline-block;
  font:normal normal normal 3em/1 "Material Design Icons";
  font-size: 35px;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
  text-rendering: auto;
  transform: translate(0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.tadeo-biblioteca-page .social-network-items .social-network-item:hover {
  color: #666666;
}
.tadeo-biblioteca-page .social-network-items .social-network-item a {
  display: block;
  font-size: 0;
  height: 35px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.tadeo-biblioteca-page .social-network-items .social-network-item.google::before {
  content: "\f37e";
}
.tadeo-biblioteca-page .social-network-items .social-network-item.youtube::before{
  content: "\f63c";
}
.tadeo-biblioteca-page .social-network-items .social-network-item.facebook::before{
  content: "\f2d8";
}
.tadeo-biblioteca-page .social-network-items .social-network-item.instagram::before {
  content: "\f3b9";
}
.tadeo-biblioteca-page .social-network-items .social-network-item.twitter::before {
  content: "\f5c9";
}
.tadeo-biblioteca-page.tadeo-general .region-content {
  background: #FFFFFF none repeat scroll 0% 0%;
  padding: 5px;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > .menu {
  position: absolute;
  right: 10px;
  top: 5px;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > .menu .menu-item.first-0,
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > .menu > .menu-item {
  background: none;
  min-width: initial;
  padding: 8px 3px;
  text-align: center;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > .header-links-images .link-logo-home {
  float: left;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > .header-links-images .link-logo-home a {
  background: url("logo_home.png");
  display: block;
  font-size: 0;
  height: 45px;
  width: 51px;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content > .header-links-images .header-logo-image {
  background: #002E51 none repeat scroll 0% 0%;
  border-bottom: 5px solid #5399B9;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar .content {
  background: none repeat scroll 0 0 #cee6f2;
  height: auto;
  position: relative;
}
.tadeo-biblioteca-page.tadeo-general #system-library .block-tadeo-bienestar {
  margin-bottom: 0px;
}

.tadeo-general #page .view-display-id-block_slider_biblioteca .views-field-body {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-slider.png") repeat scroll 0 0 transparent;
  left: 20px;
  width: 37%;
  color: #666;
  bottom: 20px;
  line-height: 100%;
  padding: 10px 15px;
  position: absolute;
  text-align: right;
  width: 37%;
}
.tadeo-general #page .view-display-id-block_slider_biblioteca .views-field-body .news-slider-faculty-title > a {
  font-weight: bold;
}
#block-tadeo-library-tadeo-search-library {
  border-bottom: 3px solid #1D99D1;
  display: block;
  width: 1140px;
}
#block-tadeo-library-tadeo-search-library .wrapper-search-form {
  height: 320px;
  padding-top: 8px;
}
.library-interna #block-tadeo-library-tadeo-search-library .wrapper-search-form {
  height: 106px;
  background-position: 50% 77% !important;
}
#block-tadeo-library-tadeo-search-library .wrapper-search-form > h2 {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-simple-left.png") no-repeat scroll 0 0 #abd3e1;
  color: #fff;
  margin: 0;
  padding: 4px 5px;
}
#block-tadeo-library-tadeo-search-library .content-search-form {
  background: rgba(33, 47, 57, 0.85);
  height: 148px;
  margin: 7% auto;
  width: 770px;
}
.library-interna #block-tadeo-library-tadeo-search-library .content-search-form {
  height: 95px;
  margin: 0% auto;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements {
  margin: 0 auto;
  padding: 20px 0 0 85px;
  width: 77%;
}
.library-interna #block-tadeo-library-tadeo-search-library .content-search-form .elements {
  padding: 10px 0 0 20px;
  width: 94%;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .form-item.form-type-textfield {
  float: left;
  margin-right: 30px;
  width: 74%;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements input[type="text"] {
  width: 100%;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .btn-submit {
  margin: 5px 0;
  overflow: hidden;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .form-submit {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/icon-search-library.png") no-repeat scroll 83px center #FFC000;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  height: 30px;
  margin-left: 5px;
  margin-top: 3px;
  padding: 5px 33px 5px 0;
  text-align: right;
  width: 110px;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements #edit-searchfieldselector {
  border-top: thin dotted #fff;
  clear: both;
  margin-top: 20px;
  padding-top: 15px;
  width: 100%;
}
.library-interna #block-tadeo-library-tadeo-search-library .content-search-form .elements #edit-searchfieldselector {
  margin-top: 2px;
  padding-top: 2px;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .form-radios .form-type-radio,
#block-tadeo-library-tadeo-search-library .content-search-form .elements #edit-searchfieldselector.form-radios .form-type-radio {
  float: left;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .form-radios .form-type-radio label,
#block-tadeo-library-tadeo-search-library .content-search-form .elements #edit-searchfieldselector.form-radios .form-type-radio label {
  color: #FFF;
  display: inline-block;
  font-size: 0.85em;
  padding: 0 36px 0 0;
  width: auto;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .form-item-area {
  clear: both;
  width: 90%;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .catalog-link .abc-links {
  padding: 5px 11px;
}
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/micrositios/bg-header-library.png") no-repeat scroll center 6px rgba(0, 0, 0, 0);
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 43px;
  padding-top: 6px;
  position: initial;
  width: 885px;
}
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-tab.active,
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-link.active,
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-tab:hover,
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-link:hover {
  border-bottom: 4px solid #f2a300;
}
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-tab,
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-link {
  border-right: thin dotted #228cbe;
  color: #fff;
  cursor: pointer;
  float: left;
  font-weight: bold;
  margin-left: 7px;
  margin-right: 10px;
  margin-top: 5px;
  min-width: 95px;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
#block-tadeo-library-tadeo-search-library .content-search-form .content-tabs-wrapper .item-link a {
  color: #fff;
}
#block-tadeo-library-tadeo-forms-library {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-library-forms.png") no-repeat scroll center 0 #005E95;
  border-bottom: 6px solid #95bbd0;
  border-top: 6px solid #95bbd0;
  height: 363px;
  overflow: hidden;
  width: 275px;
}
#block-tadeo-library-tadeo-forms-library .content-form {
  overflow: hidden;
  padding: 20px 2px 0 8px;
}
#block-tadeo-library-tadeo-forms-library .content-form .content-form-wrapper {
  float: left;
  width: 260px;
}
.form-black.content-form-wrapper .seed-select-wrapper {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/flecha-select-small.png") no-repeat scroll 96% center #000;
  border-radius: 2px;
  box-shadow: none;
}
.form-black.content-form-wrapper .seed-select-wrapper select {
  color: #fff;
  padding: 2px;
  width: 110%;
}
.form-black.content-form-wrapper .seed-select-wrapper select > option {
  background-color: #000;
}
#block-tadeo-library-tadeo-forms-library .form-type-select,
#block-tadeo-library-tadeo-forms-library .form-radios,
#block-tadeo-library-tadeo-forms-library .btn-submit {
  border-bottom: thin dotted #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#block-tadeo-library-tadeo-forms-library .form-radios .form-type-radio {
  margin: 10px 0 0 8px;
}
#block-tadeo-library-tadeo-forms-library .form-radios .form-type-radio > label {
  color: #7ed0e0;
  font-size: 0.85em;
  padding: 0;
}
#block-tadeo-library-tadeo-forms-library .form-type-textfield {
  margin-top: 10px;
}
#block-tadeo-library-tadeo-forms-library .form-type-textfield input[type="text"] {
  background-color: #fff;
  padding: 5px 5px 6px;
  width: 228px;
}
#block-tadeo-library-tadeo-forms-library .form-submit {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/icon-search-library.png") no-repeat scroll 132px center #7ed0e0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  height: 30px;
  margin-left: 78px;
  padding: 5px 33px 5px 0;
  text-align: right;
  width: 160px;
}
#block-tadeo-library-tadeo-search-library .content-search-form .elements .catalog-text {
  color: #fff;
  font-size: 0.9em;
  padding: 5px 0;
  width: 90%;
}
#block-tadeo-library-tadeo-forms-library .content-block-wrapper {
  color: #fff;
  font-size: 0.9em;
  padding: 5px;
}
#block-tadeo-library-tadeo-forms-library .content-block-wrapper .catalog-text {
  margin-bottom: 10px;
}
#block-tadeo-library-tadeo-forms-library .content-form-wrapper .catalog-link {
  display: inline-block;
}
.view-display-id-page_1 .more-link,
#block-tadeo-library-tadeo-forms-library .content-block-wrapper .catalog-link,
#block-tadeo-library-tadeo-search-library .content-search-form .elements.content-block-wrapper > .catalog-link,
.view-display-id-block_library_database .views-row .views-field-field-tutorial-link,
.view-display-id-block_library_demo .views-row .views-field-field-tutorial-link,
.view-display-id-block_library_database .views-row .views-field-field-database-link,
.view-display-id-block_library_demo .views-row .views-field-field-database-link {
  background: none repeat scroll 0 0 #7ed0e0;
  border-radius: 4px;
  height: 25px;
  overflow: hidden;
  padding-top: 0;
  text-align: center;
  width: 130px;
}
.view-display-id-block_database_resources .views-row {
  overflow: hidden;
}
.view-display-id-block_database_resources .views-row .views-field-field-database-link {
  background: none repeat scroll 0 0 #7ed0e0;
  border-radius: 4px;
  float: right;
  height: 25px;
  margin-right: 10px;
  overflow: hidden;
  padding-top: 5px;
  text-align: center;
  width: 130px;
}
#block-tadeo-library-tadeo-forms-library .content-form-wrapper > .catalog-link .abc-links > a,
#block-tadeo-library-tadeo-search-library .content-search-form .elements .catalog-link > a,
#block-tadeo-library-tadeo-search-library .content-search-form .elements .catalog-link .abc-links > a,
#block-tadeo-library-tadeo-forms-library .content-block-wrapper .catalog-link > a,
.view-display-id-block_database_resources .views-row .views-field-field-database-link a {
  color: #fff;
}
.catalog-link .abc-links {
  float: left;
  padding: 5px;
}
.catalog-link .abc-links a {
  color: #fff;
}
.tadeo-general.tadeo-biblioteca-link.sidebar-first #content .region-content {
  padding-left: 0;
}
.database-library-views {
  background: none repeat scroll 0 0 #fff;
}
.database-library-views > h2 {
  background: none repeat scroll 0 0 #00558f;
  color: #fff;
  font-size: 1.5em;
  margin: 0;
  padding: 10px 11px;
}
.database-library-views > .content {
  padding: 0 15px;
}
.tadeo-general.tadeo-biblioteca-link .region-content .block {
  margin: 0;
}
.tadeo-general.tadeo-biblioteca-link section {
  background: none repeat scroll 0 0 #fff;
}
.tadeo-general.tadeo-biblioteca-link section h1 {
  background: none repeat scroll 0 0 #00558f;
  color: #fff;
  margin: 0;
  padding: 10px 11px;
}
.view-display-id-block_library_database .views-row,
.view-display-id-block_library_demo .views-row {
  border-bottom: thin dotted #ccc;
  clear: both;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 15px;
}
.view-display-id-block_library_database .views-row .views-field-title h2,
.view-display-id-block_library_demo .views-row .views-field-title h2 {
  text-transform: uppercase;
}
.view-display-id-block_library_database .views-row .views-field-field-tutorial-link,
.view-display-id-block_library_demo .views-row .views-field-field-tutorial-link,
.view-display-id-block_library_database .views-row .views-field-field-database-link,
.view-display-id-block_library_demo .views-row .views-field-field-database-link {
  float: right;
  margin-right: 10px;
}
.view-display-id-block_library_database .views-row .views-field-field-tutorial-link a,
.view-display-id-block_library_demo .views-row .views-field-field-tutorial-link a,
.view-display-id-page_1 .more-link a,
.view-display-id-block_library_database .views-row .views-field-field-database-link a,
.view-display-id-block_library_demo .views-row .views-field-field-database-link a {
  color: #fff;
}
.view-display-id-block_slider_biblioteca {
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page #sidebar-first section {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-library-forms.png") no-repeat scroll center 0 #fff;
  border-bottom: 6px solid #005288;
  border-radius: 0;
  border-top: 6px solid #95bbd0;
  box-shadow: none;
  margin: 0;
  width: 275px;
}
.tadeo-general.tadeo-biblioteca-page #sidebar-first section h2 {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-bottom: medium none;
  height: auto;
  margin: 0;
}
.tadeo-biblioteca-page.library-interna .region-content,
.tadeo-biblioteca-page.library-interna .region-post-content-b {
  float: left;
  padding: 5px 20px 5px 5px;
  width: 67%;
}
.tadeo-biblioteca-page.library-interna .region-post-content {
  background: #FFF none repeat scroll 0% 0%;
  float: right;
  padding: 5px;
}
.tadeo-general.tadeo-biblioteca-page .block-recommended-library {
  background: none no-repeat scroll center 0 #fff;
  border: thin solid #DDDDDD;
  border-top: 8px solid #005E95;
  float: left;
  margin-right: 10px;
  width: 777px;
}
.tadeo-general.tadeo-biblioteca-page .block-recommended-library h2 {
  text-align: center;
  margin: 5px 0px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca {
  border-top: thin dotted #429ABB;
  margin: 5px;
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row {
  background: #EEEEEE;
  float: left;
  height: 194px;
  width: 48%;
  margin: 5px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .view-content {
  height: auto;
  overflow: hidden;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-field-publication-category {
  float: left;
  color: rgb(76, 76, 76);
  padding-left: 8px;
  font-size: 0.9em;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-title {
  padding: 5px 8px;
  width: 52%;
  overflow: hidden;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-title a {
  color: #444444;
  font-size: 0.95em;
  font-weight: bold;
  text-transform: uppercase;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-field-image {
  float: right;
  overflow: hidden;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-body {
  color: #666666;
  font-size: 0.75em;
  overflow: hidden;
  padding-left: 8px;
  width: 47%;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-view-node {
  padding-left: 8px;
  margin: 8px 0px 2px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .views-row .views-field-view-node a {
  background: #FF8000 none repeat scroll 0% 0%;
  color: #FFF;
  width: 50px;
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .view-footer {
  right: 0px;
  bottom: 0px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_recomendado_biblioteca .view-footer .tadeo-link-all {
  right: 0px;
  width: 105px;
  background-color: rgb(255, 128, 0);
}
.tadeo-general.tadeo-biblioteca-page .events-biblioteca {
  margin-bottom: 5px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca {
  background: rgb(255, 192, 0) none repeat scroll 0% 0%;
  height: 171px;
  position: relative;
  width: 336px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-row .views-field-tadeo-views-field-date {
  width: 40px;
  text-align: center;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-row .tadeo-views-month {
  background: #B20000;
  color: #FFF;
  display: block;
  padding: 2px;
  font-weight: bold;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-row .tadeo-views-day {
  font-size: 0.9em;
  background: #FFF;
  padding: 2px;
  font-weight: bold;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-row a {
  color: #333333;
  display: block;
  height: 105px;
  font-size: 1.1em;
  font-weight: bold;
  margin: 0px auto;
  padding: 4% 0px 0;
  width: 90%;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-cycle-main-frame-row {
  width: 100%;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-pager-field-item .views-content-nid {
  background: url("dot-counter.png") no-repeat scroll 0 0 transparent;
  display: block;
  height: 16px;
  margin-right: 3px;
  text-indent: -9999px;
  width: 16px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-pager-field-item.active .views-content-nid,
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-pager-field-item .views-content-nid:hover {
  background: url("dot-active-counter.png") no-repeat scroll 0 0 transparent;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-controls-bottom {
  right: 5px;
  position: absolute;
  z-index: 9;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-controls-bottom {
  bottom: 5px;
  height: 17px;
  position: absolute;
  width: 98%;
  z-index: 9;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-controls-bottom .views-slideshow-pager-fields {
  margin: 0 auto;
  width: 30%;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_events_biblioteca .views-slideshow-controls-bottom .views-slideshow-pager-fields .views-slideshow-pager-field-item {
  float: left;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar .content > .menu > .menu-item > a:hover {
  border-bottom: 2px solid #FFBF00;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item .menu-item a {
  padding: 2px 2px 0px 10px;
  text-align: left;
  width: 225px;
}
.tadeo-general .block-tadeo-bienestar-tadeo-global-menu .content .menu-item .menu-item a:hover {
  color: #FFFCB2;
}
.tadeo-general .block-tadeo-bienestar-tadeo-global-menu .content .menu-item .menu-item span {
  color: #BBBBBB;
  font-size: 0.7em;
  display: inline-block;
  padding-left: 10px;
  text-align: left;
  width: 96%;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar .content > .menu > .menu-item > a {
  border-left: 0px solid #fff;
  padding: 0 5px;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item:hover .menu,
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item.hover_effect .menu {
  background: #39658F;
  height: auto;
  min-height: 200px;
  opacity: 1;
  overflow: visible;
  padding: 4px;
  top: 30px;
  visibility: visible;
  width: 465px;
  z-index: 9;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item:hover .menu-item,
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item.hover_effect .menu-item {
  background: #39658F;
  border-bottom: thin dotted #FFF;
  margin: 0px 4px 4px 0;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item {
  height: 40px;
  float: left;
  position: relative;
  width: 49%;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item .menu {
  border-radius: 0;
  left: 0;
  right: initial;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item.first-2 .menu,
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item.first-3 .menu,
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar-tadeo-global-menu .content .menu-item.last-item-menu .menu {
  left: initial;
  right: 0;
}
.tadeo-general.tadeo-biblioteca-page .block-tadeo-bienestar .content > .menu > .menu-item {
  text-align: left;
}



.tadeo-general.tadeo-biblioteca-page .view-display-id-block_video_micrositio {
  padding: 5px;
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_video_micrositio .view-content {
  height: 315px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_video_micrositio .views-row {
  float: left;
  width: 265px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_video_micrositio .views-row iframe {
  width: 265px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_video_micrositio .views-row .views-field-title {
  border-bottom: thin dotted #005288;
  margin-bottom: 5px;
  padding: 5px 8px;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_video_micrositio .views-row .views-field-body,
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .views-field-body {
  color: #FFF;
  font-size: 0.9em;
  padding: 5px 10px;
  position: absolute;
  bottom: 10%;
  width: 70%;
  background: #000000;
  opacity: 0.7;
  max-height: 121px;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .views-field-body a {
  display: block;
  color: #FFC100;
  font-size: 1.1em;
  font-weight: 600;
  padding: 2px 0px;
}
.tadeo-general.tadeo-biblioteca-page .view-footer {
  bottom: 3%;
  position: absolute;
  right: 27%;
}
.tadeo-general.tadeo-biblioteca-page .view-footer .slider-galleries .buttons {
  background-color: #6897B7;
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 0;
  display: block;
  font-size: 0;
  height: 29px;
  position: absolute;
  width: 29px;
  z-index: 9;
}
.tadeo-general.tadeo-biblioteca-page .view-footer .slider-galleries .next {
  background-image: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/btn-arrow-left.png");
  right: 39px;
  background-color: #FF8000;
  height: 33px;
  width: 36px;
}
.tadeo-general.tadeo-biblioteca-page .view-footer .slider-galleries .prev {
  background-image: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/btn-arrow-right.png");
  right: 0;
  background-color: #FF8000;
  height: 33px;
  width: 36px;
}
#block-views-biblioteca-block-news-bienestar {
  background: none no-repeat scroll center 0 #fff;
  float: left;
  margin-bottom: 0;
  margin-right: 10px;
  position: relative;
  width: 69%;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar > h2 {
  color: #002C52;
  font-size: 1.3em;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar li.views-row {
  float: left;
  height: 440px;
  padding-bottom: 10px;
  position: relative;
  width: 684px;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .view-display-id-block_news_bienestar div.views-row {
  height: 100px;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .view-display-id-block_news_bienestar div.views-row-odd {
  border-bottom: thin dotted #91d7f3;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .attachment,
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .view-display-id-block_news_bienestar > .view-content {
  clear: both;
  height: 455px;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .views-field-field-news-date {
  color: #6e96b7;
  font-size: 0.85em;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .attachment .views-field-title-field {
  padding-bottom: 5px;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .attachment .views-field-title-field a {
  color: #1e4f86;
  font-size: 1em;
  font-weight: bold;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-news-bienestar .view-display-id-block_news_bienestar > .view-content .views-field-title h2 {
  margin: 2px 0;
}
.tadeo-general.tadeo-biblioteca-page .view-display-id-block_news_bienestar .slider-galleries .tadeo-link-all {
  height: 33px;
  right: 78px;
  background-color: #FF8000;
}

.tadeo-general.tadeo-biblioteca-page .slider-galleries .tadeo-link-all {
  background: none repeat scroll 0 0 #6897b7;
  bottom: 0;
  display: block;
  position: absolute;
  right: 58px;
}
.tadeo-general.tadeo-biblioteca-page .slider-galleries .tadeo-link-all a {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/flecha-botones.png") no-repeat scroll right center transparent;
  color: #fff;
  display: block;
  height: 15px;
  margin-right: 11px;
  padding: 7px 19px 7px 14px;
  width: 66px;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-library-forms.png") no-repeat scroll center 0 #006197;
  border-bottom: 6px solid #005288;
  border-top: 6px solid #95bbd0;
  margin-left: 0;
  width: 346px;
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library > h2,
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-faq-biblioteca > h2 {
  color: #fff;
  margin: 0;
  text-align: center;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-content .views-row {
  float: left;
  height: 300px;
  padding: 5px;
  width: 336px;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-content .views-row .views-field-title {
  padding-bottom: 8px;
  padding-left: 15px;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-content .views-row .views-field-title a {
  color: #78E7FA;
  font-size: 1em;
  font-weight: bold;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-content .views-row .views-field-field-image {
  float: left;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-content .views-row .views-field-body {
  color: #fff;
  font-size: 0.9em;
  overflow: hidden;
  width: 175px;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters {
  border-bottom: thin dotted #78e7fa;
  margin: 0 3px;
  padding-left: 15px;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters .seed-select-wrapper {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/flecha-select-small.png") no-repeat scroll 96% center #000;
  border-radius: 2px;
  box-shadow: none;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters .seed-select-wrapper select {
  color: #fff;
  padding: 2px;
  width: 110%;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters .seed-select-wrapper select > option {
  background-color: #000;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters .form-item-field-publication-category-tid {
  width: 310px;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters .views-submit-button {
  float: right;
}
.tadeo-general.tadeo-biblioteca-page .block-publication-library .view-filters .form-submit {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/icon-search-library.png") no-repeat scroll 132px center #7ed0e0;
  border: medium none;
  border-radius: 4px;
  color: #fff;
  height: 30px;
  margin: 0;
  padding: 5px 33px 5px 0;
  text-align: right;
  width: 160px;
}

/*.tadeo-general.tadeo-biblioteca-page .block-banners-library {
  margin-bottom: 20px;
  clear: both;
  height: 125px;
}*/
.tadeo-general.tadeo-biblioteca-page .block-banners-library,
.tadeo-general.tadeo-biblioteca-page .block-banners-inf-library {
  background: url("bg-orange-line.png") no-repeat scroll center bottom #fff;
  border: thin solid #DDDDDD;
  border-top: 8px solid #005E95;
  height: 265px;
  margin-bottom: 5px;
  position: relative;
  width: 334px;
}
.tadeo-general.tadeo-biblioteca-page .block-banners-library h2,
.tadeo-general.tadeo-biblioteca-page .block-banners-inf-library h2 {
  text-align: center;
  margin: 5px;
  color: #005E92;
  border-bottom: thin dotted #429ABB;
}
.tadeo-general.tadeo-biblioteca-page .block-banners-library .view-display-id-block_links_biblioteca .views-row {
  background-image: url('bg-border-bottom.png'), url('group-icon.png');
  background-position: 3px bottom, 3px center;
  background-repeat: no-repeat;
  height: 45px;
  margin: 0px 10px;
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page .block-banners-inf-library .view-display-id-block_schedule_biblioteca .views-row {
  background-image: url('bg-border-bottom.png');
  background-position: 3px bottom;
  background-repeat: no-repeat;
  height: 45px;
  margin: 0px 10px;
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page .block-banners-library .view-display-id-block_links_biblioteca .views-row a,
.tadeo-general.tadeo-biblioteca-page .block-banners-inf-library .view-display-id-block_schedule_biblioteca .views-row a {
  color: #545454;
  display: block;
  font-size: 0.85em;
  font-weight: 600;
  padding: 5px 0 8px 36px;
  position: absolute;
  top: 10px;
  width: 84%;
}

.tadeo-general.tadeo-biblioteca-page .block-banners-library .view-content .views-row .views-field-field-imagebtn {
  width: 275px;
}

.tadeo-general.tadeo-biblioteca-page .block-banners-library .view-display-id-block_links_biblioteca {
  width: 100%;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-faq-biblioteca {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-library-forms.png") no-repeat scroll center 0 #fff;
  border-bottom: 6px solid #005288;
  border-radius: 0;
  border-top: 6px solid #95bbd0;
  box-shadow: none;
  margin: 0;
  width: 346px;
  position: relative;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-faq-biblioteca .view-display-id-block_faq_biblioteca {
  padding: 5px 0;
}
.tadeo-general.tadeo-biblioteca-page #block-views-biblioteca-block-faq-biblioteca .view-display-id-block_faq_biblioteca li {
  background: url("http://www.utadeo.edu.co/sites/tadeo/themes/seed_tadeo/images/general/bg-list-faq.png") no-repeat scroll 0 15px rgba(0, 0, 0, 0);
  border-bottom: thin dotted #95bbd0;
  color: #777;
  font-size: 0.95em;
  height: auto;
  margin: 0 10px;
  overflow: hidden;
  padding: 10px 25px;
  width: 276px;
}
.tadeo-general .region-content .block-seed-tools-seed-title h1 {
  background: none repeat scroll 0 0 #00558f;
  margin: 0;
  padding: 10px 11px;
}
.view-display-id-page_1 {
  background: none repeat scroll 0 0 #fff;
  color: #777;
  padding: 10px;
}
.view-display-id-page_1 > .view-content .views-field-title .field-content h3,
.view-display-id-page_1 > .view-content .views-field-title .field-content a {
  font-size: 1em;
}
.view-display-id-page_1 .views-field-title .field-content a {
  color: #1e4f86;
}
.view-display-id-block_faq_biblioteca .view-content {
  max-height: 338px;
  min-height: 210px;
}
.view-display-id-block_faq_biblioteca .view-footer .tadeo-link-all {
  background: none repeat scroll 0 0 #6897b7;
  right: 0;
}
.view-display-id-block_faq_biblioteca .view-footer .tadeo-link-all > a {
  width: 66px;
}
.tadeo-general.tadeo-biblioteca-link .region-content {
  overflow: hidden;
}
.tadeo-general.tadeo-biblioteca-link .region-post-content-b {
  height: 400px;
  overflow: hidden;
}
.tadeo-general.tadeo-biblioteca-link .block-general-report {
  background: none repeat scroll 0 0 #fff;
  float: left;
  height: 380px;
  padding: 10px;
  width: 327px;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report {
  height: 380px;
  padding: 10px;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report .view-display-id-block_library_faculty {
  margin: 10px;
}
.tadeo-general.tadeo-biblioteca-link .block-general-report > h2,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > h2 {
  background: none repeat scroll 0 0 #005e95;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}
.tadeo-general.tadeo-biblioteca-link .block-general-report > .content,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content {
  background: none repeat scroll 0 0 #f5f5f5;
  margin: 0 0 15px;
  overflow: hidden;
}
.tadeo-general.tadeo-biblioteca-link .block-general-report > .content .views-row {
  border-bottom: 1px solid #ddd;
  height: 30px;
  margin: 0 10px;
  padding-top: 10px;
  text-align: center;
  width: 297px;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-widget-content {
  background: none repeat scroll 0 0 #f5f5f5;
  height: auto !important;
  min-height: initial;
  padding: 0 !important;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .views-row {
  height: 30px;
  margin: 0 10px;
  padding-top: 5px;
  text-align: center;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-state-default,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-state-active,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-widget-content .ui-state-active,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-widget-header .ui-state-active {
  background: none repeat scroll 0 0 #FFA300; /* #d8a400 */
  border: 0 none;
  border-radius: 0;
}
.tadeo-general.tadeo-biblioteca-link .block-general-report > .content .views-row h3,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .views-row h3 {
  font-size: 0.9em;
  font-weight: normal;
  margin: 0;
}
.tadeo-general.tadeo-biblioteca-link .block-general-report > .content .views-row a,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .views-row a {
  color: #777;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-state-default a,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-state-active a,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-widget-content .ui-state-active a,
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-widget-header .ui-state-active a {
  color: #1e4f86;
}
.tadeo-general.tadeo-biblioteca-link .block-faculty-report > .content .ui-icon {
  left: auto;
  right: 0.5em;
  width: 15px;
}

/** Internas Sistema Biblioteca **/
.tadeo-biblioteca-page #block-quicktabs-databases > h2 {
  background: none repeat scroll 0 0 #00558f;
  color: #fff;
  margin: 0;
  padding: 10px 11px;
  font-size: 1.5em;
  font-weight: 700;
}
.tadeo-biblioteca-page.library-interna .region-content .block.block-seed-tools-seed-title {
  background-color: #FFF;
}
.tadeo-biblioteca-page.library-interna .region-content .block-seed-tools-seed-title h1 {
  color: #002C52;
  font-size: 1.3em;
  font-weight: normal;
  padding: 10px 11px 0 0;
  text-transform: uppercase;
}
.tadeo-biblioteca-page.library-interna .region-content .field-name-body {
  padding: 0 0 0 10px;
}
.view-display-id-block_database_resources .ui-accordion h3,
.view-display-id-block_handbooks_biblioteca .ui-accordion h3,
.view-display-id-block_preguntas_biblioteca .ui-accordion h3,
.view-display-id-block_authors_biblioteca .ui-accordion h3,
.view-display-id-block_db_turorials .ui-accordion h3,
.view-display-id-block_library_team .ui-accordion h3 {
  background-color: #D3E9F4;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
}
.tadeo-biblioteca-page.library-interna .container-separador,
.view-display-id-block_database_resources .ui-accordion h3 .ui-icon,
.view-display-id-block_handbooks_biblioteca .ui-accordion h3 .ui-icon,
.view-display-id-block_preguntas_biblioteca .ui-accordion h3 .ui-icon,
.view-display-id-block_authors_biblioteca .ui-accordion h3 .ui-icon,
.view-display-id-block_db_turorials .ui-accordion h3 .ui-icon,
.view-display-id-block_library_team .ui-accordion h3 .ui-icon {
  display: none;
}
.view-display-id-block_database_resources .ui-accordion h3 a,
.view-display-id-block_handbooks_biblioteca .ui-accordion h3 a,
.view-display-id-block_preguntas_biblioteca .ui-accordion h3 a,
.view-display-id-block_authors_biblioteca .ui-accordion h3 a,
.view-display-id-block_db_turorials .ui-accordion h3 a,
.view-display-id-block_library_team .ui-accordion h3 a {
  color: #396E8A;
}
.view-display-id-block_database_resources .ui-accordion h3.ui-state-active,
.view-display-id-block_handbooks_biblioteca .ui-accordion h3.ui-state-active,
.view-display-id-block_preguntas_biblioteca .ui-accordion h3.ui-state-active,
.view-display-id-block_authors_biblioteca .ui-accordion h3.ui-state-active,
.view-display-id-block_db_turorials .ui-accordion h3.ui-state-active,
.view-display-id-block_library_team .ui-accordion h3.ui-state-active {
  background-color: #002C52;
}
.view-display-id-block_database_resources .ui-accordion h3.ui-state-active a,
.view-display-id-block_handbooks_biblioteca .ui-accordion h3.ui-state-active a,
.view-display-id-block_preguntas_biblioteca .ui-accordion h3.ui-state-active a,
.view-display-id-block_authors_biblioteca .ui-accordion h3.ui-state-active a,
.view-display-id-block_db_turorials .ui-accordion h3.ui-state-active a,
.view-display-id-block_library_team .ui-accordion h3.ui-state-active a {
  color: #FFF;
}
.view-display-id-block_database_resources .ui-accordion .ui-accordion-content,
.view-display-id-block_handbooks_biblioteca .ui-accordion .ui-accordion-content,
.view-display-id-block_preguntas_biblioteca .ui-accordion .ui-accordion-content,
.view-display-id-block_authors_biblioteca .ui-accordion .ui-accordion-content,
.view-display-id-block_db_turorials .ui-accordion .ui-accordion-content,
.view-display-id-block_library_team .ui-accordion .ui-accordion-content {
  background-color: #FFFFFF;
  border-color: #DDDDDD;
  border-style: solid;
  border-width: 0px 1px 1px;
  max-height: 330px;
  min-height: 110px;
  padding: 10px;
}
.view-display-id-block_database_resources .ui-accordion .ui-accordion-content .views-field-title a,
.view-display-id-block_handbooks_biblioteca .ui-accordion .ui-accordion-content .views-field-title a,
.view-display-id-block_preguntas_biblioteca .ui-accordion .ui-accordion-content .views-field-title a,
.view-display-id-block_authors_biblioteca .ui-accordion .ui-accordion-content .views-field-title a,
.view-display-id-block_db_turorials .ui-accordion .ui-accordion-content .views-field-title a {
  font-size: 0.85em;
}
.view-display-id-block_database_resources .ui-accordion .ui-accordion-content .views-field-title a::before,
.view-display-id-block_handbooks_biblioteca .ui-accordion .ui-accordion-content .views-field-title a::before,
.view-display-id-block_preguntas_biblioteca .ui-accordion .ui-accordion-content .views-field-title a::before,
.view-display-id-block_authors_biblioteca .ui-accordion .ui-accordion-content .views-field-title a::before,
.view-display-id-block_db_turorials .ui-accordion .ui-accordion-content .views-field-title a::before {
  content: "\f4af";
  font-family: "Material Design Icons";
  padding-right: 5px;
}
.tadeo-biblioteca-page.library-interna .quicktabs-wrapper .quicktabs_main {
  border-top: 0px none;
  padding: 5px;
  top: 0px;
}
.tadeo-biblioteca-page.library-interna .quicktabs-wrapper .quicktabs_main .schedule {
  display: none;
}
.tadeo-biblioteca-page.page-node-221961 .quicktabs-wrapper .quicktabs_main .quicktabs-tabpage {
  overflow: scroll;
}
.tadeo-biblioteca-page.library-interna .quicktabs-style-sky ul.quicktabs-tabs.quicktabs-style-sky {
  background-color: #EEEEEE;
  overflow: hidden;
  border: thin solid #DDDDDD;
  width: 99.7%;
}
.tadeo-biblioteca-page.library-interna .quicktabs-style-sky ul.quicktabs-tabs.quicktabs-style-sky li {
  border-right: thin solid #DDDDDD;
  height: auto;
  overflow: hidden;
  margin: 5px 0px;
}
.tadeo-biblioteca-page.library-interna .quicktabs-style-sky ul.quicktabs-tabs.quicktabs-style-sky li.active {
  padding: 0px 5px;
}
.tadeo-biblioteca-page.library-interna .quicktabs-style-sky ul.quicktabs-tabs.quicktabs-style-sky li.last {
  border: 0;
}
.tadeo-biblioteca-page.library-interna .quicktabs-style-sky ul.quicktabs-tabs.quicktabs-style-sky li a {
  background: none;
  color: #999999;
  height: auto;
  font-weight: normal;
  font-size: 0.85em;
  padding: 0px 8px;
  display: block;
}
.tadeo-biblioteca-page.library-interna .quicktabs-style-sky ul.quicktabs-tabs.quicktabs-style-sky li.active a {
  background: #3594BB;
  color: #FFFFFF;
}
.tadeo-biblioteca-page.page-person .group_person_description {
  width: 70%;
}
.view-display-id-block_library_team .views-row {
  border: thin solid #DDDDDD;
  height: 190px;
}
.view-display-id-block_library_team .views-row h2 {
  background-color: #D3E9F4;
  color: #396E8A;
  font-size: 1em;
  padding-left: 10px;
}
.view-display-id-block_library_team .views-row .views-field-field-image-profile {
  margin: 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  float: left;
}
.view-display-id-block_library_team .views-row .views-field-name a {
  color: #002B54;
}
.view-display-id-block_library_team .views-row .views-field-field-e-mail > div {
  color: #0FA8DB;
}
.view-display-id-block_library_team .views-row .views-field-name {
  margin-top: 10px;
}
.view-display-id-block_library_team .views-field-field-body-profile {
  padding-right: 10px;
}
.view-display-id-block_sede_biblioteca .views-row {
  float: left;
  margin: 5px 10px;
  position: relative;
}
.view-display-id-block_sede_biblioteca .views-row .views-field-nothing {
  background-color: #00346C;
  bottom: 0px;
  opacity: 0.9;
  padding: 3%;
  position: absolute;
  width: 94%;
}
.view-display-id-block_sede_biblioteca .views-row .image-credit {
  color: #FFC100;
  font-size: 0.7em;
  text-transform: uppercase;
}
.view-display-id-block_sede_biblioteca .views-row .title-name a {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}
.view-display-id-block_nid_sede_biblioteca .views-row .views-field-field-images-credits {
  color: #002C52;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: bold;
}
.view-display-id-block_nid_sede_biblioteca .views-row .views-field-title-field {
  color: #545454;
  font-size: 1.9em;
}
.view-display-id-block_nid_sede_biblioteca .views-row .views-fieldset {
  float: left;
  width: 59%;
}
.view-display-id-block_nid_sede_biblioteca .views-row .views-fieldset strong {
  border-top: 3px solid #5098BB;
  color: #00688C;
  display: inline-block;
  font-size: 1.3em;
  padding: 10px 2px 0 0;
  overflow: hidden;
}
.view-display-id-block_nid_sede_biblioteca .views-row .views-field-field-quicktabs-content {
  border-bottom: 3px solid #CCCCCC;
  margin-top: 20px;
}
.view-display-id-block_nid_sede_biblioteca .views-row .views-field-field-quicktabs-content .quicktabs-wrapper .quicktabs_main {
  border: thin solid #DDDDDD;
  margin: 8px 0px;
}
#mygallery {
  padding: 1px;
  overflow: hidden;
}
#mygallery .image-item {
  padding-right: 1%;
  float: left;
}

.view-display-id-block_espacios_biblioteca .views-row {
  float: left;
  margin-right: 1%;
  position: relative;
}
.view-display-id-block_espacios_biblioteca .views-row.views-row-1 {
  width: 40%;
}
.view-display-id-block_espacios_biblioteca .views-row.views-row-2 {
  width: 57%;
}
.view-display-id-block_espacios_biblioteca .views-row.views-row-3,
.view-display-id-block_espacios_biblioteca .views-row.views-row-5 {
  width: 27%;
}
.view-display-id-block_espacios_biblioteca .views-row.views-row-4 {
  width: 43%;
}
.view-display-id-block_espacios_biblioteca .views-row.views-row-6,
.view-display-id-block_espacios_biblioteca .views-row.views-row-7 {
  width: 49%;
}
.view-display-id-block_espacios_biblioteca .views-row .views-field-title-field {
  background-color: #001519;
  bottom: 0px;
  opacity: 0.9;
  padding: 3%;
  position: absolute;
  width: 94%;
}
.view-display-id-block_espacios_biblioteca .views-row .views-field-title-field a {
  color: #FFFFFF;
  font-size: 1.2em;
  font-weight: bold;
}

.view-display-id-block_news_biblioteca .view-content .views-row {
  border-bottom: thin dotted #429ABB;
  margin-bottom: 10px;
  overflow: hidden;
}
.view-display-id-block_news_biblioteca .view-content .views-row .views-field-field-news-date {
  overflow: hidden;
}
.view-display-id-block_news_biblioteca .view-content .views-row .views-field-field-images {
  float: left;
  padding-right: 10px;
}
.view-display-id-block_news_biblioteca .view-content .views-row .views-field-title h2 {
  margin: 0;
}
