#content{
    width: 778px;
}
.ui-widget-content{
    height: 194px;
    border: none;
}
.ui-tabs-nav{
    background: #004669;
    border: none;
}
.ui-tabs .ui-tabs-nav li{
    background: none;
    border: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    background: #e7b200;
}
.ui-tabs-nav a{
    color: #fff !important;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
		color:#000 !important;
}
.buscadorST{
    width: 720px;
    height: 150px;
    float: left;
    background-image: url(fondo.png) !important;
    background-repeat: no-repeat;
    background-size: contain;
}
#ebscohostsearchtext{
    padding:5px;
    padding-left: 15px;
    background: #e8e8e8;
    border: solid 1px #cccccc;
    border-radius:15px 0 0 15px;
    width: 45%;
    position: relative;
    top:60px;
    left: 150px;
}
.ebscohost-search-button{
    background-color: #e7b200;
    padding: 5px;
    cursor: pointer;
    border-radius:0 15px 15px 0;
    border: solid 1px #cccccc;
    margin-left: -10px;
    position: relative;
    top:60px;
    left: 150px;
}
#guidedFieldSelectors{
  position: relative;
  top:60px;
  left: 150px;
}
.label{
  color: #fff;
}
.avanzada{
    text-decoration: none;
    float: right;
    color: #FFF !important;
    position: relative;
    top: 75px;
}
